<%if current_user.role?:lawfirm_admin%>
  <% content_for :company_selection do %>
    <div id="topheadContainer"><div class="title fl"><%= @company.name  %></div></div>
  <%end%>
<% end %>
<div class="box-head"><h2><%=t(:text_edit_employee_activity_rate)%></h2></div>
<% form_for(@employee_activity_rate) do |f| %>
  <div class="form">
    <%if(@employee_activity_rate.errors.length > 0)%>
      <div class='errorCont'>
        <%=f.error_messages %>
        <div class="clear"></div>
      </div>
    <%end%>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="left" valign="top"><label><%=t(:label_employee)%><span>*</span></label></td>
        <td><%= @user.full_name%></td>
      </tr>
      <tr><td colspan="2">&nbsp;</td></tr>
      <tr>
        <td width="25%" align="left" valign="top"><label><%=t(:label_activity)%> <span>*</span></label></td>
        <td width="75%"><%= @activity%></td>
      </tr>
      <tr><td colspan="2">&nbsp;</td></tr>
      <tr>
        <td align="left" valign="top"><label><%=t(:label_billing_rate)%><span>*</span></label></td>
        <td><%= f.text_field :billing_rate ,:maxlength=>11,:onblur => "check_rate(this);"%></td>
      </tr>
      <tr><td colspan="2">&nbsp;</td></tr>
    </table>
  </div>
  <div class="buttons">
    <%= f.submit t(:text_update), :class=>"button"%>
    <%= link_to t(:label_cancel), "/rate_cards/index/#{@employee_activity_rate.company_id}" , :class=>"button"%>
  </div>
  <%= hidden_field_tag :company_id, @employee_activity_rate.company_id%>
<% end %>