<table width="100%" cellpadding="1" cellspacing="1">
  <tr>
    <%= column_sort_link(t(:text_name), 'matter_issues.name', params[:col], "32%", "left", {:action=>"index"}) %>
    <th width="7%" align="left">Main/ Sub</th>
    <th width="6%" align="center"><%= t(:text_activities) %></th>
    <th width="6%" align="center"><%= t(:text_risks) %></th>
    <th width="5%" align="left"><%= t(:text_key) %></th>
    <th width="19%" align="left"><%= t(:text_assigned_to) %></th>
    <th width="9%" align="center"> <%= t(:label_target_resolution_date) %></th>
    <th width="11%" align="left"><%= t(:text_resolved) %></th>
    <th width="5%" align="center"><%= t(:text_actions) %></th>
  </tr>
  <% unless @matter_issues.nil? or @matter_issues.blank? %>
    <% @matter_issues.each do |matter_issue| %>
      <tr class="<%= cycle('bg1', 'bg2') %>">
        <td ><%= raw truncate_hover_link(matter_issue.name, 65, edit_matter_matter_issue_path(@matter, matter_issue)) %> </td>
        <td> <%= matter_issue.parent_id ? "Sub" : "Main" %> </td>
        <td align="center"><%= facebox_link_num(matter_issue.matter_tasks.length, "#{show_issue_matter_tasks_matter_matter_issue_path(@matter, matter_issue)}?&height=200&width=500", "Linked Activities") %></td>
        <td align="center">
          <% if matter_issue.matter_risks.length >= 1 %>
            <%= link_to matter_issue.matter_risks.length, "#", :class => "vtip", :onclick => "tb_show('#{t(:text_linked_risks)}','#{show_issue_matter_risks_matter_matter_issue_path(@matter, matter_issue)}?height=160&width=500','')", :title => "#{t(:text_linked_risks)}" %>
          <% else %>
            0
          <% end %>
        </td>
        <td><%= matter_issue.is_key_issue ? t(:text_yes) : t(:text_no) %></td>
        <td><%= matter_issue.assigned_to_name %></td>
        <td align="center"><%= livia_date(matter_issue.target_resolution_date) %></td>
        <td><%= matter_issue.get_resolved(livia_date(matter_issue.resolved_at)) %></td>
        <td align="center">
          <div class="icon_action mt3"><a href="#"></a></div>
          <div id="liquid-roundAP" class="tooltip" style="display:none;">
            <!--Icon table strt here -->
            <table width="100%" border="1" cellspacing="0" cellpadding="0">
              <%=
              raw action_pad_top_blue_links({
                  :edit_path => edit_matter_matter_issue_path(@matter, matter_issue),
                  :deactivate_path => matter_issue_delete_link(matter_issue, @matter, get_employee_user_id),
                  :deactivate_text => "Issue",
                  :comment_path => add_comment_with_grid_comments_path(:id=>matter_issue.id,:commentable_type=>'MatterIssue',:path=> matter_matter_issues_path(matter_issue.matter)),
                  :document_modal => true,
                  :document_header => "Add Document",
                  :document_path => new_document_matter_document_homes_path(@matter, :mapable_type=>'Matter', :mapable_id=> @matter.id, :issue_id=>matter_issue.id, :height => "520", :width => "520"),
                  :history_path => "NO"
                })
            %>
              <tr>
                <td class="ap_middle_left"><div class="ap_pixel"></div></td>
                <td style="background: #fff;">
                  <table width="100%" border="1" cellspacing="0" cellpadding="2">
                    <tr>
                      <td colspan="4"><div class="ap_pixel10"></div></td>
                    </tr>
                    <tr>
                      <td width="7%" align="center" valign="middle">
                        <img src="/images/icon_child_action.png" width="15" height="14" />
                      </td>
                      <td width="40%" align="left" valign="middle">
                        <%=link_to("<span>Link Activities</span>", "#{get_tasks_risks_facts_matter_matter_issue_path(@matter,matter_issue,:col_type => :matter_tasks,:col_type_ids => :matter_task_ids,:label => 'Activities')}&height=480&width=500", :class => "thickbox", :name => "Link Activities")%>
                      </td>
                      <td width="7%" align="left" valign="middle">
                        <img src="/images/icon_child_action.png" width="15" height="14" />
                      </td>
                      <td width="40%" align="left" valign="middle">
                        <%=link_to("<span>Link Risks</span>", "#{get_tasks_risks_facts_matter_matter_issue_path(@matter,matter_issue,:col_type => :matter_risks,:col_type_ids => :matter_risk_ids,:label => 'Risk')}&height=350&width=500", :class => "thickbox", :name => "Link Risks")%>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="4"><div class="ap_pixel10"></div></td>
                    </tr>
                    <tr>
                      <td width="7%" align="center" valign="middle">
                        <img src="/images/icon_child_action.png" width="15" height="14" />
                      </td>
                      <td width="40%" align="left" valign="middle">
                        <%=link_to("<span>Resolve</span>", "#{get_issue_resolve_matter_matter_issue_path(@matter,matter_issue)}?height=200&width=380", :class => "thickbox", :name => "Resolve")%>
                      </td>
                      <td width="7%" align="left" valign="middle">
                      </td>
                      <td width="40%" align="left" valign="middle">
                      </td>
                    </tr>
                    <tr>
                      <td colspan="4"><div class="ap_pixel10"></div></td>
                    </tr>
                  </table>
                </td>
                <td class="ap_middle_right"><div class="ap_pixel13"></div></td>
              </tr>
              <tr>
                <td valign="top" class="ap_bottom_curve_left"></td>
                <td class="ap_bottom_middle"><div class="ap_pixel13"></div></td>
                <td valign="top" class="ap_bottom_curve_right"></td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    <% end %>
  <% else %>
    <tr> <td colspan="9"> <div class="warningCont m5"> <%= t(:text_no_issues_found) %><%= matter_info %> </div> </td> </tr>
  <% end %>
</table>
