<% content_for :company_selection do %>
  <%if current_user.role?:livia_admin%>
    <div id="topheadContainer">
      <div class="title fl"><%= @company.name if @company.present?%></div>
      <div id="searchContainer" class="fr"> <%=t(:label_select_company)%>
        <%=collection_select :employee,:company_id,@companies,:id,:name_type,{:include_blank => 'Please select', :selected=> session[:company_id].blank??nil:session[:company_id].to_i},{:onchange=>"show_email_settings(this.value)" ,:class=>"field size3"}%>
      </div>
    </div>
  <%end%>
  <%if current_user.role?:lawfirm_admin%>
    <div id="topheadContainer"><div class="title fl"><%= current_user.company_full_name  %></div></div>
  <% end %>
<% end %>
<div class="box-head"><h2 class="left"><%=t(:label_Company_Email_Settings)%></h2></div>
<div class="gryBox">
  <div id="company_email_div">
    <% unless params[:company_id] == nil%>
      <%=render :partial => 'company_email_settings'%>
    <% end %>
  </div>
</div>