<h1><%=t(:text_editing_product_licence_detail)%></h1>

<% form_for(@product_licence_detail) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit t(:text_update) %>
  </p>
<% end %>

<%= link_to t(:label_show), @product_licence_detail %> |
<%= link_to t(:label_back), product_licence_details_path %>
