<div class="box-head"><h2><%=t(:text_update_portal_access_for_this_user)%></h2></div>
<div class="comphead"><%=t(:text_company)%><%=@company.name%><br class="clear" />
  <%=t(:text_user)%> 	<%=@user.first_name%> <%=@user.last_name%>
</div>
<div id="productdiv"><%=render :partial => "products"%></div>