<div class="p5">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="33%"><h3 class="title_gray"><%= t(:text_change_password)%> <%= t(:text_management) %></h3></td>
      <% if current_user.role?:lawyer%>
        <td width="33%"><h3 class="title_gray"><%= t(:text_livian_access) %></h3></td>
      <%end%>
      <td width="34%"><h3 class="title_gray"><%= t(:text_set_time_zone) %></h3></td>
    </tr>
    <tr><td colspan="3" height="1"></td></tr>
    <tr>
      <td colspan="3">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="highlight_bg_1 box_bg_bdr_1 bdr_bot_1">
          <tr><td colspan="3">&nbsp;</td></tr>
          <tr>
            <td width="33%" valign="top" class="right-bg">
              <div class="p15p fl">
                <div class="pr10 fl"><img src="../../images/logo-icon.png" alt="" /></div>
                <div class="fl link_blue">
                  <% if current_user.role?:lawyer%>
                    <span class="fl w100">
                      <%=link_to(t(:text_tpin), new_access_code_path(:height=>180,:width=>500), :class =>"thickbox", :name => "Change TPIN")%>
                    </span>
                  <%end%>
                  <span class="fl pt5">
                    <%=link_to(t(:text_change_password), change_password_user_path(current_user.id,:height=>200,:width=>500), :class =>"thickbox", :name=>"#{t(:text_change_password)}")%>
                  </span>
                </div>
              </div>    </td>
            <% if current_user.role?:lawyer%>
              <td width="33%" valign="top" class="right-bg">
                <div class="p15p fl">
                  <div class="pr10 fl"><img src="../../images/logo-icon.png" alt="" /></div>
                  <div class="fl link_blue"><a href="/manage_secretary/livian_access?height=350&width=440" class="thickbox" name="Livian Access"><strong><%= t(:text_menu_livian_access) %></strong> <%= t(:text_menu_access) %></a></div>
                </div>
              </td>
            <%end%>
            <td width="34%" valign="top">
              <div class="p15p fl">
                <div class="pr10 fl"><img src="../../images/logo-icon.png" alt="" /></div>
                <div class="fl link_blue">
                  <%= link_to(t(:text_set_time_zone),set_user_time_zone_path(current_user,:height=>150,:width=>400), :class =>"thickbox", :name=>"Set Time Zone") %>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="3">&nbsp;</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>