<h3 class="title_gray"><%= "Security Questions" %></h3>
<div class="highlight_bg_1 p15p box_bg_bdr_1 bdr_bot_1">
  <table width="100%" border="0" cellspacing="0" cellpadding="1">
    <%form_for :user, @user, :url => {:action => 'update_docs', :mapable_id => @employee.id },:html => {:onsubmit => "return disableAllSubmitButtons('user_submit')"} do |f|%>
      <%f.fields_for :questions do |q|%>
        <tr>
          <td width="6%">
            Question
          </td>
          <td  width="30%"><%= q.text_field :setting_value ,:class => "w110p question", :style=>"width:300px;" %></td>
          <%q.fields_for :answer do |a|%>
            <td width="8%" class="link_blue" >
              <a href="#" onclick="jQuery('#<%=a.id%>').toggle();">View Answer</a>
            </td>
            <td  width="50%" ><div id="<%=a.id%>" style="display:none;"><%= a.text_field :setting_value ,:class=>"answer", :style=>"width:150px;" %></div></td>
          <%end%>
        </tr>
        <tr><td colspan="4">&nbsp</td></tr>
      <%end%>

      <tr>
        <td colspan="4" align="center"><%= f.submit t(:text_save),:onclick=>"return check_for_blank();",:class=>'user_submit'%></td>
      </tr>
    <%end%>
  </table>
</div>
<script type="text/javascript">
  // Need to removed to JS File
  function check_for_blank(id){
    if (jQuery('#user_questions_attributes_0_setting_value').val()=='' || jQuery('#user_questions_attributes_1_setting_value').val()==''){alert("Question cannot be blank");return false;}
    else{if (jQuery('#user_questions_attributes_0_answer_attributes_setting_value').val()=='' || jQuery('#user_questions_attributes_1_answer_attributes_setting_value').val()==''){alert("Answer cannot be blank");return false;}
      else {return true;}
    }
  }
</script>
