<script type="text/javascript">
  jQuery(document).ready(function() {
    livia_matter_inception_datepicker_new("#from_date");
    livia_matter_inception_datepicker_new("#to_date");
  });
</script>
<% form_remote_for "dashboard_charts",:before=>"validate_date_dashboards();",:url=>{:controller=>'dashboards',:action=>'manage_dashboard'} do |f| %>
  <div class="box_org  mtb8">
    <div class="fl pl4">
      <input type="hidden" name="dashboard_chart_id" value='<%=chart.dashboard.id%>' ></input>
      <input id="dashboard_check_id"  id="dashboard_check_id" type="hidden" name="chart_id" value='<%=chart.chart.try(:id) %>' ></input>
      <table border="0" cellpadding="3" cellspacing="0" class="grayBox" >
        <tr>
          <td ><%=select_tag("duration",options_for_select([["All",""],["Last 1 Months","1months"],["Last 3 Months","3months"],["Last 6 Months","6months"],["Last 1 Year","12months"],["Date range","5"]],:selected=>chart.parameters[:duration]),{:style => "width:130px"})%></td>
          <% if chart.parameters[:duration] == "5"
            style="display:block"
          else
            style="display:none"
          end %>
          <td><%=  collection_select("dashboard_charts","status",current_company.contact_stages,:lvalue,:lvalue,{:selected=>chart.parameters[:status]? chart.parameters[:status] : 'Lead'},{:onClick=>"db_date_change();",:style => "width:130px"})%></td>
          <td>
            <div  style="<%=style%>" id="date_div" class="mt2">
              <table cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td align="left">
                  <td><%=t(:text_start_date)%>&nbsp;</td>
                  <td>
                    <input size="10" type="text" id="from_date" name='from_date'  readonly="true" class="dateTextBox date_picker"  value="<%=chart.parameters["'from_date'"]%>"/>
                  </td>
                  <td><%=t(:text_end_date)%>&nbsp;</td>
                  <td>
                    <input size="10" type="text" id="to_date" name='to_date'  readonly="true" class="dateTextBox date_picker" value="<%=chart.parameters["'to_date'"]%>"/>
                  </td>
                  </td>
                </tr>
              </table>
            </div>
          </td>
          <td class="pl5">
            <input type="submit" value="submit" class="button"/>
          </td>
        </tr>
      </table>
    </div>
    <div class="fr mr5 link_blue">
      <%=link_to(t(:text_add_to_favorite),"#",{:onclick => "return show_fav_div()",:style=>"line-height:30px;"})%>
    </div>
    <br class="clear"/>
  </div>
<%end%>
<script type="text/javascript">
  db_date_change();
</script>
