<div class="linkOuter w45 fr txtR mt5" style="float:right;text-align:right;">
  <%= link_to(t(:text_new),new_company_matter_fact_type_path(@company),:rel=>"facebox") %>
</div>
<div class="p5 gridTable">
  <table width="100%" cellspacing="0" cellpadding="0" border="0" align="left" id="matter_fact_types">
    <tr>
      <th width="25%">Fact Type</th>
      <th width="25%">Custom Type</th>
      <th width="25%">Actions</th>
    </tr>
    <%@company.matter_fact_types.each do |fact|%>
      <tr class="<%=cycle("bg1", "bg2")%>">
        <td>
          <%= hidden_field_tag "support_#{fact.id}", fact.id, :class=>"supportFieldID" %>
          <span class="textBlue11Height20">
            <%= fact.lvalue %>
          </span>
        </td>
        <td>
          <span class="textBlue11Height20">
            <%= fact.alvalue %>
          </span>
        </td>
        <td>
          <%=  link_to(image_tag('/images/livia_portal/icon_edit.gif',{:alt =>"Edit", :title=>"Edit", :border => 0, :hspace => "0"}), edit_company_matter_fact_type_path(@company,fact),:rel=>"facebox")%>
        </td>
      </tr>
    <%end%>
  </table>
</div>
<br class="clear" />