<%=stylesheet_link_tag 'uploadify' %>
<%=javascript_include_tag "swfobject"%>
<script type="text/javascript" src="/javascripts/jquery/jquery.uploadify.v2.1.4.min.js"></script>
<div class="gridDiv">
  <div class="message_error_div" style="display:none" id="error_upper_div">
    Please Select File(s) to Upload.
  </div>
  <div class="" align="center" id="loader" style="display:none;"><img src='/images/loading.gif' /></div>
  <div class="titleHead">
    <b>Mass File Upload to <%=get_folder_name(@folder)%></b>
  </div>
  <div class="mt3 gridTable">
    <table cellspacing="1" width="100%" cellpadding="0" class="tableBg">
      <tr>
        <td align="center">
          <input type="file" name="files" id="files"/>Click <b>Browse</b> to select file(s) for upload.
        </td>
      </tr>
      <tr>
        <td align="left">
          <div id="fileQueueBox">
            <div id="fileQueue"></div>
          </div>
        </td>
      </tr>
      <tr><td>&nbsp;</td></tr>
      <tr>
        <td align="center">
          <input id="upload" class="button" type="button" value="Upload" onclick=" validate();"></input>&nbsp;
          <input id="reset" class="button" type="button" value="Reset" onclick="javascript:jQuery('#files').uploadifyClearQueue();"></input>
          <input id="cancel" type="button" value="Cancel" onclick="stop_upload();tb_remove();"></input>
        </td>
      </tr>
    </table>
  </div>
</div>
<script type="text/javascript">
  // Need to removed to JS File
  // Here is Original javascript functions responsible for dynamic multiple upload provided by Uploadify. : Pratik AJ 27-4-2011
  // Events mention defined here are customized to our requirement.
  // Default action performed by this events are there in juery.uploadify.v2.1.4.min.js file.
  var stop=false;
  var start=false;
  var complete_count = 0
  var error_count = 0
  var max_size =0
  var upload_count =0
  function stop_upload(){
    if (start==true){
      stop=true;
      window.location.href = '/workspaces/folder_list?parent_id=<%=@folder.id%>&flash=Cancled';
    }
  }
  function validate(){
    if (upload_count==0){
      jQuery('#error_upper_div')
      .fadeIn('slow')
      .animate({
        opacity: 1.0
      }, 2000)
      .fadeOut('slow');
    }else{
      disable_button();
      start=true
      javascript:jQuery('#files').uploadifyUpload();
    }
  }
  function disable_button(){
    jQuery('#TB_closeWindowButton').attr("disabled", "true");
    jQuery('#TB_closeAjaxWindow').unbind('click');
    jQuery('#upload').val('Please wait...');
    jQuery('#loader').show();
    jQuery('#upload').attr("disabled", "true");
    jQuery('#reset').attr("disabled", "true");
    //jQuery('#cancel').attr("disabled", "true");
    jQuery('.button').css('color', 'gray');
  }  
  jQuery(document).ready(function() {
    jQuery('#TB_closeWindowButton').hide();
    jQuery("#files").uploadify({
      'uploader'       : '/swf/uploadify.swf',
      'script'         : '/workspaces/do_the_multi_upload?stop='+ stop,
      'cancelImg'      : '/images/cancel.png',
      'queueID'        : 'fileQueue',
      'auto'           : false,
      'multi'          : true,
      'buttonImg'      : '/images/browse_button.png',
      'wmode'          : 'transparent',
      'width'          : 86,
      'height'	       : 24,
      'queueSizeLimit' : 999,
      'sizeLimit'      : '<%=@max_upload_size%>',
      'onSelect'       : function(event,ID,fileObj){
        max_size = max_size + fileObj.size
        if (max_size>'<%=@max_upload_size%>'){
          //alert('Maximum Upload Limit Exceeded');
         var errorDiv = jQuery('#error_upper_div').fadeIn('slow')
          .animate({
           opacity: 1.0
           }, 2000)
      .fadeOut('slow');
           errorDiv.html('Maximum Upload Limit Exceeded');
           errorDiv.show();
           max_size = max_size-fileObj.size;
          return false;
        }
        if (fileObj.size <= 0 || fileObj.size > '<%=@max_upload_size/2%>'){          
          var errorDiv = jQuery('#error_upper_div').fadeIn('slow')
          .animate({
           opacity: 1.0
           }, 2000)
      .fadeOut('slow');
           errorDiv.html('Upload File size should be between is 0KB-50MB.');
           errorDiv.show();
           max_size = max_size-fileObj.size;
          return false;
        }
        upload_count = upload_count + 1;
      },
      'onCancel'       :function(event,ID,fileObj){
        upload_count = upload_count - 1;
        max_size = max_size-fileObj.size;
      },
      'onComplete'     :function(){
        complete_count  = complete_count  + 1
      },
      'scriptData'	 : { 'parent_folder_id' : '<%=@folder.id%>',
        'current_user_id' : '<%=current_user.id%>',
        'employee_user_id': '<%=get_employee_user_id%>',
        'company_id' : '<%=get_company_id%>'
      },// custom data to send to script
      'onAllComplete'  : function(i,j){
        window.location.href = '/document_managers?selected_node=<%=params[:selected_node]%>&flash='+complete_count;        
      },
      'onError'	 : function (event, queueID ,fileObj, errorObj) {        
        var msg;
        if (errorObj.info == 404) {
          alert('Could not find upload script. Use a relative path.');
          alert('Could not find upload script.');
        }
        jQuery("#fileUpload" + queueID).fadeOut(250, function() {  jQuery("#fileUpload" + queueID).remove()});
        error_count =error_count + 1
        return false;
      }
    });
    jQuery('#TB_overlay').unbind('click');
  });  
</script>
<div class="mandatory mt12">
  <pre>
Note :Total mass upload limit is 100 mb with a limit on individual file size of 50 mb.

      Files will be scheduled for upload as per sequence specified.Incase a file size
      exceeds the individual limit or increases the overall limit, the system will
      pick the next file in the sequence selected.
  </pre>
</div>
<div class="pagiText"><%=t(:label_page)%>&nbsp;113</div>