<div class="w100">
  <% unless @data.blank? %>
    <div class="title_blue fl"><%= pluralize_record(@data.length , 'Record',1)%></div>
  <% end %>
  <div class="fr  textR pt5">
    <%=raw(generate_send_email_rpt_link("matter_distribution_rpt")) unless params[:load_popup]%>
    <%=raw(generate_rpt_fav_link("Matter")) unless params[:load_popup]%>
    <%=raw(generate_reports_links("matter_distribution_rpt")) %>
  </div>
  <br class="clear" />
</div>
<% unless @data.blank? %>
  <div class="mt5">
    <%= render :partial => 'rpt_partials/list_col_array', :locals => {:col => @data} %>
  </div>
  <div class="title_blue fl"><%= pluralize_record(@data.length , 'Record',1)%></div>
<% else %>
  <div class="title_blue fl"<%= pluralize_record((@data.length rescue 0), 'Record',1)%></div>
<% end %>
<br class="clear" /> 