<% @widths_hash = {"Matter" => "14%","Lawyer" => "9%","Client" => "9%","#{t(:label_Account)}" => "9%","Matter ID" => "9%","Due date" => "8%","Status" => "5%","Activity name" => "14%","Assigned to" => "9%","Client Activity" => "10%"} %>
<div class="w100">
  <% unless @total_data.blank? %>
    <div class="title_blue fl"><%=t(:text_no_of_tasks)%>&nbsp;<%=pluralize_record(@conditions[:total_tasks],'',1)%> </div>
  <% end %>
  <div class="fr  textR pt5">
    <%=raw(generate_send_email_rpt_link("matter_task_status_rpt")) unless params[:load_popup]%>
    <%=raw(generate_rpt_fav_link("Matter")) unless params[:load_popup]%>
    <%=raw(generate_reports_links("matter_task_status_rpt")) %>
  </div>
  <br class="clear" />
</div>
<% unless @total_data.blank? %><% @widths_hash = {"Matter" => "14%","Lawyer" => "9%","Client" => "9%","#{t(:label_Account)}" => "9%","Matter ID" => "9%","Due date" => "8%","Status" => "5%","Activity name" => "14%","Assigned to" => "9%","Client Activity" => "10%"} %>
  <% @total_data.each do |label,col| %>
    <div class="mt5">
      <div class="w100">
        <div class="title_blue fl" ><%=label%>  <span>(<%= pluralize_record(col.length , 'Record',0)%>)</span></div>
        <div class="fr textR"><%# links %> </div>
        <br class="clear" />
      </div>
      <%= render :partial => "rpt_partials/list_col_array_with_index", :locals => {:col => col} %>
    </div>
    <%reset_cycle%>
  <%end%>
  <div class="title_blue fl"><%=t(:text_no_of_tasks)%>&nbsp;<%=pluralize_record(@conditions[:total_tasks],'',1)%></div>
<%else%>
  <div class="title_blue fl"><%=pluralize_record((@conditions[:total_tasks] rescue 0),'Record',1)%></div>
<%end%>
<br class="clear" />