<script type="text/javascript">
  //livia_datepicker();
  jQuery(document).ready(function() {
    livia_matter_inception_datepicker_new("#date_start");
    livia_matter_inception_datepicker_new("#date_end");
<% if @reports_duration == "range" %>
      matter_date_change();
<%end %>
  });
</script>
<div id="container-1">
  <%=render :partial=>'/dashboard_partials/rpt_dashboard' unless params[:load_popup]%>
  <div id="fragment-1" class="tabs-container">
    <%unless params[:load_popup]%>
      <h2 class="title_main"><%=t(:text_matter_time_spent)%> <%= render :partial =>  "layouts/left_report_sidebar" %></h2>
    <%else%>
      <%=raw(generate_spinner_my_favorite_link)%>
    <%end%>
    <%form_remote_tag :url=>{:action => :matter_time_spent_rpt},:condition => "validate_report_date()" do |f| %>
      <%= hidden_field_tag :run_report, true %>
      <div class="p5">
        <%unless params[:load_popup]%>
          <div id="notice" class="flashmsg" style="color:#000; background:#b5d8a7; border:1px solid #549839; text-align:left; font-size:11px; font-weight:bold; padding:5px; margin-bottom:5px;display: none;">
          </div>
          <% opts = rpt_selection_helper(params[:get_records]) %>
          <%=raw(radios_for_rpt(opts,"#{t(:label_matters)}"))%>
          <br class="clear" />
          <div class="box_gray">
            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="pl3" >
              <tbody>
                <tr>
                  <td align="left" valign="middle"><%= t(:text_summarize_by) %></td>
                  <td align="left" valign="middle"><%= select("report","summarize_by",[["Lead lawyer","lead_lawyer"],["Client","client"],["#{t(:label_Account)}","account"],["Matter Type","lit_type"]],{:selected => params[:report][:summarize_by] || @reports_summarize_by}) %> </td>
                  <td align="left" valign="middle"><%= t(:text_status) %> </td>
                  <td align="left" valign="middle"><%= select_tag("report_status",options_for_select([["All","All"]] + current_company.matter_statuses.collect{|status|[status.alvalue, status.id]},:selected=>params[:report][:status] == "All" ? "All" : @reports_status.to_i || params[:report][:status].to_i),{:name=>"report[status]",:style=>"height:22px;"}) -%> </td>
                  <td align="left" valign="middle"><%= t(:text_matter_start_date) %> </td>
                  <td align="left" valign="middle"><%= select("report","duration",[["Last 1 Months","1"],["Last 3 Months","2"],["Last 6 Months","3"],["Date Range","range"]],{:selected => params[:report][:duration] || @reports_duration},{:onChange=>"matter_date_change();"}) %> </td>
                  <td valign="middle" >
                    <div id="date_div" style="<%=params[:report][:duration] == "range" ? "" : "display:none;"%>">
                      <table width="100%" cellspacing="0" cellpadding="0" >
                        <tbody>
                          <tr>
                            <td><div style="display:none;"><input type="checkbox" name="date_selected" id="date_selected" value="1" <%=params[:date_selected].blank? ? "" : "checked"%>/></div></td>
                            <td align="right"><%=t(:text_start_date)%></td>
                            <td align="left"><input type="text" id="date_start" name="date_start" readonly="true" class="dateTextBox date_picker" size ="10" value="<%=params[:date_start]%>" /></td>
                            <td align="right"><%=t(:text_end_date)%></td>
                            <td align="left"> <input type="text" id="date_end" name="date_end" readonly="true" class="dateTextBox date_picker" size="10" value="<%=params[:date_end]%>" /></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                  <td valign="middle"><input id="com_notes_entries[3]_submit" class="button" type="submit" value="<%=t(:label_run_report)%>" name="commit"/></td>
                </tr>
              </tbody>
            </table>
          </div>
        <%end %>
      <% end %>
      <div class="" align="center" id="loader" style="display:none;"><img src='/images/loading.gif' /></div>
      <div id="report-info"></div>
      <div id="report-content"></div>
    </div>
  </div>
</div>
