<div class="gridDiv" id="double_auth_div">
  <div class="titleHead">
    <div class="fl"><%=t(:text_please_confirm_your_password)%></div>
    <div class="fr ptr5"><a href="#"><img src="/images/livia_portal/icon_close.gif" alt="close" title="close" onclick="closeFaceBox();" /></a></div>
    <br class="clear"/>
  </div>  
  <div class="gridTable gryBox">
    <div id="nameerror"  class="errorCont" style="display:none"></div>
    <% form_remote_tag(:url =>{:controller=>"authentications", :action=>"authenticate"},:loading=>"showLoadingGif();",:complete=>"hidewLoadingGif();") do  %>
      <table width="300px;" cellspacing="0" cellpadding="0" border="0">
        <tr>
          <td align="right"><%=t(:text_password)%><span class="text_red">*</span></td>
          <td><%= password_field_tag :password  %></td>
        </tr>
        <%= hidden_field_tag :opt, @opt %>
        <tr>
          <td align="right" valign="top"><%= submit_tag t(:label_confirm), :class=>'button submit_buttons', :style=>"height:20px;" %></td>
          <td valign="top"><%= submit_tag t(:text_cancel), :name => "save_exit", :onclick => "jQuery.facebox.close();return false" %></td>
        </tr>
      </table>
    <% end %>
  </div>
  <div class="txtC Pb8" id="loading_gif" style="display:none">
    <%= image_tag"/images/loading5.gif" %>
  </div>
</div>