<table height="100%" align="center" width="100%">
  <tbody>
    <tr>
      <td>
        <!--Header div @start here -->
        <div id="login-div">
          <%= render :partial => '/common/common_flash_message' %>
          <h1 class="textC"><a href="dashboard.html"><%= image_tag "livia_logo.png" %></a></h1>

          <div class="fl w180p">
            <div class="ml15"><%= image_tag "icon_login.png" %></div>
          </div>
          <div class="fl ml15 mt10 form_table">
            <% if flash[:forgotten_notice] %>
              <div class="message_sucess_div" id="notice"><%= flash[:forgotten_notice] %></div>
            <% end %>
            <% form_tag do %>
              <table>
                <tr>
                  <td>
                    <label><%=t(:label_user_name)%></label></td><td>
                    <%= text_field 'user', 'name'  %>
                  </td>
                </tr>
                <tr>
                  <td colspan="2" align="center">
                    <b><%=t(:text_or)%></b></td>
                </tr><tr>
                  <td>
                    <label><%=t(:label_e_mail)%></label></td><td>
                    <%= text_field 'user', 'email'  %>
                  </td></tr>
                <tr>
                  <td colspan="2" align="center">
                    <%= submit_tag t(:label_reset_password), {:class=>"button"} %>
                  </td></tr>
                <tr><td colspan="2" align="center">
                    <%= link_to t(:label_back_to_login), login_path %>
                  </td></tr></table>
            <% end %>
          </div>
          <br class="clear" />
        </div>
        <!--Header div #ends here -->
      </td>
    </tr>
  </tbody>
</table>