<table height="100%" align="center" width="100%">
  <tbody>
    <tr>
      <td>
        <!--Header div @start here -->
        <div id="login-div">
          <div style="text-align:center;margin-top:10px;" id="pass_Err">
            <div id="password_errors" class ="errorCont" style="display:none"></div>
            <div id="loader_spinner"></div>
            <h1 class="textC"><%= image_tag "livia_logo.png" %></h1>

            <div class="fl w180p">
              <div class="ml15"><%= image_tag "icon_login.png" %></div>
            </div>
            <div class="fl ml15 mt10 form_table">

              <table width="100%" border="0" cellpadding="1" cellspacing="10">
                <tr>
                  <td><%=t(:text_current_password)%><%= password_field_tag :current_password, ''%></td>
                </tr>
                <tr>
                  <td><%=t(:text_new_password)%><%= password_field_tag  :password,''%></td>
                </tr>
                <tr>
                  <td><%=t(:text_confirm_new_password)%><%= password_field_tag  :password_confirmation,''%></td>
                </tr>
                <tr><td> <input type="button" value="<%=t(:label_update)%>" onclick="change_password_home();" /></td></tr>
              </table>
            </div>
            <br class="clear" />
          </div>
          <!--Header div #ends here -->
      </td>
    </tr>
  </tbody>
</table>















