<div class="box-head"><h2><%=t(:text_new_designation)%></h2></div>
<% form_for:designation, @designation,:url=>{:action=>"create",:id=>params[:id]} do |u| %>
  <%if(@designation.errors.length > 0)%>
    <div class='errorCont'>
      <%=u.error_messages %>
      <div class="clear"></div>
    </div>
  <%end%>
  <div class="form">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="25%" align="left" valign="top"><label><%=u.label :lvalue, "Designation"%><span>*</span></label></td>
        <td width="75%"><%=u.text_field :lvalue,:class=>"field size4"%></td>
      </tr>
      <tr><td colspan="2">&nbsp;</td></tr>
    </table>
  </div>
  <div class="buttons">
    <%=u.submit t(:text_create) , :class=>"button"%>
    <%=link_to t(:label_back),designations_path, :class=>"button"%>
  </div>
<% end %>