<% if params[:popup] && params[:popup]=="client" %>
  <h4>Change Password</h4>
<% end %>
<%form_remote_for :user,@user,:url=>change_password_user_path,:before=>"jQuery('#error_upper_div').hide();loader.appendTo('#loader_spinner');jQuery('#loader_spinner').show();",:method=>:put do |f|%>
  <%= hidden_field_tag :first_login, 'true' %>
  <div style="text-align:left;margin-top:10px;" id="pass_Err">
    <div class="message_error_div notification" style="display:none" id="error_upper_div">
      <div class="errorExplanation" id="password_errors"  ></div>
    </div>
    <script type="text/javascript">
      jQuery(document).ready(function(){
  <% if params[:first_login].eql?('true') %>
        jQuery('#TB_closeAjaxWindow').hide();
        jQuery('#TB_overlay').unbind('click');
        add_missing_header_to_thickbox("Change Password");
  <%end%>
  <% unless params[:popup] && params[:popup]=="client" %>
        if(jQuery("#TB_ajaxWindowTitle").text()!="Change Password"){
          jQuery("#TB_ajaxWindowTitle").text("Change Password");
          jQuery("#TB_ajaxContent").height(170);
  <% end %>
      }
    });
    </script>
    <div id="loader_spinner"></div>
    <table width="400" border="0" cellspacing="5" cellpadding="5">
      <tr>
        <td width="152" align="right"><%=t(:text_current_password)%></td>
        <td width="227" align="left"><%=f.password_field :current_password%></td>
      </tr>
      <tr>
        <td align="right"><%=t(:text_new_password)%></td>
        <td align="left"><%=f.password_field  :password%></td>
      </tr>
      <tr>
        <td align="right"><%=t(:text_confirm_new_password)%></td>
        <td align="left"><%=f.password_field  :password_confirmation%></td>
      </tr>
      <tr>
        <td colspan="2" align="center">
          <%=f.submit(t(:label_update))%>
          <% if params[:height] %>
            <input type="submit" id="cancel" value="Cancel"  style="<%= params[:first_login].eql?('true') ? 'display:none;' : ''%>"onclick="tb_remove(); return false;"/>
          <% else %>
            <input type="submit" id="cancel" value="Cancel" onclick="jQuery.facebox.close();return false"/>
          <% end %>
        </td>
      </tr>
    </table>
    <div  class="mandatory mt12">Note: Password should consist of minimum 8 characters with at least one small
      letter, one capital letter, one numeric character and one special
      character</div>
  </div>
<%end%>
<% unless params[:height] %><br /> </div> <% end %>
<br/>
<br/>
<div align="right" class="pagiText"><%=t(:label_page)%>&nbsp;5</div>
