<div id="topheadContainer"><div class="title fl"> <%=t(:text_reset_password)%><%=@user.username%>) </div></div>
<div id="reset_password_errors" class ="errorCont" style="display:none"></div>
<div class="form">
  <table cellspacing="0" cellpadding="0" width="100%">
    <tbody>
      <tr>
        <td width="34%" align="left" valign="top"><label><%=t(:text_new_password)%> <span>*</span></label></td>
        <td width="66%"><%= password_field_tag  :reset_password,'',:class=>"field size4"%></td>
      </tr>
      <tr><td colspan="2">&nbsp;</td></tr>
      <tr>
        <td align="left" valign="top"><label><%=t(:text_confirm_new_password)%><span>*</span></label></td>
        <td><%= password_field_tag  :reset_password_confirmation,'',:class=>"field size4"%></td>
      </tr>
      <tr><td colspan="2">&nbsp;</td></tr>
    </tbody>
  </table>
</div>
<div class="buttons">
  <input type="button" value="<%=t(:label_reset)%>" onclick="submitPasswordReset(<%=@user.id%>);" class="button"  />
  <%= link_to(t(:label_cancel), "#",:class=>"button",:onclick=>"tb_remove();" )%>
</div>
<script type="text/javascript">
  jQuery("#reset_password, #reset_password_confirmation").keyup(function(e) {
    if(e.keyCode == 13) {
      loader.prependTo("#div_prd_price");
      abc = submitPasswordReset(<%=@user.id%>);
      if (abc=='true'){
        jQuery("#pf").submit();
      }
    }
  });
</script>