<%=raw paginate_for_five_links(contacts.total_pages, {:mode_type =>params[:mode_type],:contact_type =>params[:contact_type],:action=>"index", :letter=>params[:letter],:col=>params[:col],:dir=>params[:dir],:per_page=>params[:per_page]}, params[:page]) if contacts.total_pages > 1 %>
<%= raw all_pagination(contacts, params[:per_page], "willpaginate", contacts_path(), {:mode_type =>params[:mode_type],:contact_type =>params[:contact_type],:action=>"index",:letter =>params[:letter],:per_page=>params[:per_page]}) %>
<% h = {}
h[:search_item] = true
if params[:search_items]
  h[:search_items] = params[:search_items]
  h[:search] = {}
  if params[:search]
    params[:search].keys.each do |key|
      h[:search][key] = params[:search][key] unless params[:search][key].blank?
    end
  end
end %>
<div class="tabular_listing ">
  <% form_for :search,:url=>{:controller => :contacts, :action => :index, :mode_type =>params[:mode_type],:contact_type =>params[:contact_type],:letter=>params[:letter],:per_page=>params[:per_page]},:html =>{:method => :get } do |f| %>
    <table width="100%" cellpadding="1" cellspacing="1" class="border_gray">
      <tr>
        <%= hidden_field_tag  'col' ,params[:col] if params[:col] %>
        <%= hidden_field_tag  'dir' ,params[:dir] if params[:dir] %>
        <%= hidden_field_tag  'mode_type' ,params[:mode_type] if params[:mode_type] %>
        <%= hidden_field_tag  'contact_type' ,params[:contact_type] if params[:contact_type] %>
        <%= hidden_field_tag  'per_page' , params[:per_page] if params[:per_page] %>
        <%= hidden_field_tag  'search_items' ,true %>
        <%= column_sort_link(t(:text_rating), 'contacts.rating', params[:col], "7%", "left", {:mode_type => params[:mode_type], :contact_type => params[:contact_type], :action => "index", :letter=>params[:letter], :per_page => params[:per_page], :page => params[:page]}.merge(h.merge(:search_item => false))) %>
        <%= column_sort_link(t(:text_name), 'contacts.last_name', params[:col], "", "left", {:mode_type => params[:mode_type], :contact_type => params[:contact_type], :letter=>params[:letter], :action => "index",  :per_page => params[:per_page], :page => params[:page]}.merge(h)) %>
        <%= column_sort_link(t(:text_account), 'accounts.name', params[:col], "12%", "left",{:mode_type => params[:mode_type], :contact_type => params[:contact_type], :action => "index", :letter=>params[:letter], :per_page => params[:per_page], :page => params[:page]}.merge(h)) %>
        <%= column_sort_link(t(:text_assigned_to), 'contacts.assigned_to_employee_user_id', params[:col], "12%", "left",{:mode_type => params[:mode_type], :action => "index", :contact_type => params[:contact_type], :letter=>params[:letter], :per_page => params[:per_page], :page => params[:page]}.merge(h),nil,'contacts.assigned_to_employee_user_id','assigned_to',"collection_select :search, 'contacts--assigned_to_employee_user_id', current_company.employees, :full_name, :full_name, {:selected => '#{params[:search]["contacts--assigned_to_employee_user_id"].to_s}',:prompt=>true}, {:style => '#{params[:search_items].blank? ? 'width:95px;display:none;' : 'width:95px;'}'}") %>
        <%= column_sort_link(t(:text_stage), 'contacts.contact_stage_id', params[:col], "10%", "left",{:mode_type => params[:mode_type], :action => "index", :contact_type => params[:contact_type], :letter=>params[:letter], :per_page => params[:per_page], :page => params[:page]}.merge(h),'stage','contacts.contact_stage_id',nil,"collection_select :search, 'contacts--contact_stage_id', @contact_stages, :id, :alvalue ,{:selected => #{params[:search]["contacts--contact_stage_id"].to_i},:prompt=>true}, {:style => '#{params[:search_items].blank? ? 'width:95px;display:none;' : 'width:95px;'}'}") %>
        <%= column_sort_link(t(:text_phone), 'contacts.phone', params[:col], "10%", "left",{:mode_type => params[:mode_type], :contact_type => params[:contact_type], :action => "index", :letter=>params[:letter], :per_page => params[:per_page], :page => params[:page]}.merge(h)) %>
        <%= column_sort_link(t(:text_email), 'contacts.email', params[:col], "15%", "left",{:mode_type => params[:mode_type], :contact_type => params[:contact_type], :action => "index", :letter=>params[:letter], :per_page => params[:per_page], :page => params[:page]}.merge(h)) %>
        <th width="5%" align="center"><%= t(:text_actions) %>
          <div class="action_column" style="position: relative; width:53px;">
            <%if params[:search_items] %>
              <div style="position: relative; top:0px;">
              <%else%>
                <div style="position: relative; top:0px;">
                <%end%>
                <%= f.submit "Go" ,{:style=>(params[:search_items] ? "" : "display:none;")}%>
              </div>
            </div>
          </div>
        </th>
      </tr>
      <% if contacts.present? %>
        <% contacts.each do |contact| %>
          <tr class="<%= cycle('bg1', 'bg2') %>">
            <td>
              <% contact.rating.times do %><div class="mt2"> <span class="icon_star_full fl mt4 mr5"></span></div>  <% end %>
              <% (3-contact.rating).times do %> <div class="mt2"><span class="icon_star_empty fl mt4 mr5"></span> </div> <% end %>
            </td>
            <td>
      <%# unless contact.checkinactive %>
              <%= raw(truncate_hover_contacts_link(CGI::unescape(contact.name), 37, edit_contact_path(:id => contact.id,:per_page=>params[:per_page],:page=>params[:page],:letter=>params[:letter],:search=>params[:search],:q=>params[:q],:col=>params[:col],:dir=>params[:dir],:mode_type=>params[:mode_type],:contact_type =>params[:contact_type]), contact.title, contact.preference, contact.created_at, contact.department)) %>
      <%# else %>
      <%#= raw(truncate_hover_contacts(CGI::unescape(contact.name), 37, contact.title, contact.preference, contact.created_at, contact.department) ) %>
      <%# end %>
            </td>
            <% account_name=contact.get_account_name %>
            <td><%= raw(truncate_hover(account_name,18)) if account_name.present? %></td>
            <td><%= raw(truncate_hover(contact.assignee.try(:full_name).try(:titleize), 20)) if contact.assigned_to_employee_user_id.present? and contact.assignee %></td>
            <td><%= contact.contact_stage.alvalue.try(:titleize) unless contact.contact_stage.nil? %></td>
            <td><%= contact.phone %></td>
            <td>
              <% if contact.email? %>
                <%= raw(truncate_hover_link(contact.email,25,zimbra_mail_index_path('view'=>'compose','to'=>contact.email))) %>
              <% end %>
            </td>
            <td align="center"><%= raw contact_action_links(contact) %></td>
          </tr>
        <% end %>
      <% else %>
        <% assets = controller.controller_name %>
        <% asset = assets.singularize %>
        <tr>
          <td colspan="10"><div class="warningCont m5"> <%= t(:text_no_records_found_for) %> <%= asset.try(:capitalize) %> . </div> </td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>
<%= raw all_pagination(contacts, params[:per_page], "bottom-pagination", contacts_path(), {:mode_type =>params[:mode_type],:contact_type =>params[:contact_type],:action=>"index",:letter=>params[:letter],:per_page=>params[:per_page]})  %>