<% content_for :company_selection do %>
  <%if current_user.role?:livia_admin%>
    <div id="topheadContainer">
      <div class="title fl"><%= @company.name unless session[:company_id].blank?%></div>
      <div id="searchContainer" class="fr"> <%=t(:label_select_company)%>
        <%=collection_select :employee,:company_id,@companies,:id,:name_type,{:include_blank => 'Please select', :selected=> session[:company_id].blank? ? nil : session[:company_id].to_i},{:onChange => "fetch_records_for_company(this.value, '#{params[:action]}')", :class=>"field size3"}%>
      </div>
    </div>
  <%end%>
  <%if current_user.role?:lawfirm_admin%>
    <div id="topheadContainer"><div class="title fl"><%= current_user.company_full_name  %></div></div>
  <%end%>
<% end %>
<% if @company.present? %>
  <div class="box-head"><h2 class="left"><%=t(:label_Access)%></h2></div>
  <div class="actionLinks"><%= link_to "Company Settings", "#" %> | <%= link_to "Access", logo_upload_path %></div>
  <div class="form">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <%if(@company.errors.length > 0 )%>
        <div class='errorCont'>
          <%= error_messages_for("company") %>
          <div class="clear"></div>
        </div>
      <%end%>
      <tr>
      <% if @company.logo_file_name.present? %><%= image_tag @company.logo.url %><br /><br /><% end %>
      <% form_for(@company, :html => { :multipart => true }) do |f| %>
        <%= f.file_field :logo %>
        <%= f.submit "Upload Logo", :onclick => "return check_logo_field();" %>
      <% end %>
      </tr>
      <tr>
        <td align="left">&nbsp;</td>
        <td align="left">&nbsp;</td>
      </tr>
    </table>
  <% end %>
</div>