<% userclass = @userclass.collect{|cls| cls[0]== appointment.assigned_to_user_id ? " app#{cls[1]}" : "" } %>
<% matter = appointment.attribute_present?("matter_id") ? true : false %>
<% if instance %>
  <% ex_start_time = appointment.start_date.to_time %>
  <% appintmentlink = activity_description(appointment, 1, "newtooltip", "", true, (matter ? "thickboxInstance('#{instance_series_calendars_path(:appointment_id => appointment.id, :height => 120, :width => 250, :matter => matter, :link => (edit_instance_matter_matter_task_path(appointment.matter, appointment, :instance_end_time => appointment.end_date.to_time, :instance_end_date => instance_end_date,:ex_start_time=> ex_start_time, :instance_start_date => instance_start_date, :height => "400", :width => "800")), :series => ("#{edit_matter_activity_calendars_path(:matter_id => appointment.matter_id, :id=>appointment.id, :height => "400", :width=> "800", :cal_action => params[:action])}"))}')" : "thickboxInstance('#{instance_series_calendars_path(:appointment_id => appointment.id, :height => 120, :width => 250, :link => (edit_zimbra_instance_calendars_path(:id => appointment.id, :instance_end_time => appointment.end_date.to_time, :instance_end_date => instance_end_date,:ex_start_time=> ex_start_time, :instance_start_date => instance_start_date, :height => "400", :width => "800")), :series => ("#{edit_activity_calendars_path(:id=>appointment.id, :height => "400", :width=> "800")}"))}')")) %>
<% else %>  
  <% appintmentlink = activity_description(appointment, 1, "newtooltip", "", false, false) %>
<% end %>
<% unless counttasks > 3 %>
  <div class="schedule_list<%= userclass %>"><% if repeated %> &raquo;&raquo; <% end %> <%= appintmentlink %></div>
<% else %>
  <div class="showdiv schedule_list<%= userclass %>" id="showdiv_<%=appointment.id%><%=day.day%>" style="display: none;">
    <% if repeated %> &raquo;&raquo;<% end %> <%= appintmentlink %>
  </div>
<% end %>