<div class="gridDiv">
  <div id="div_assign_lawfirm_user" style="display: none;">
    <div width="100%">
        <div class="textNormal">
          <table width="100%">
            <tr><td><%=t(:text_select_company)%></td>
            <td><%= collection_select(:company, :id, @companies, :id, :name_type, {:include_blank => 'Please select'},{:onchange=>"show_company_users_list(this.value, #{@cluster.id})",:class=>'field size3',:style=>"width:120px; font-size:100%"})%></td></tr>
          </table>
        </div>
    </div>
    <div id="show_company_users_list"></div>
  </div>
  <div id="div_assign_employee" style="display: none;">
    <div width="100%">
        <div class="textNormal">
          <table width="100%">
            <tr><td><%=t(:label_Select_Employee)%>&nbsp;&nbsp;</td>
              <td><%= collection_select(:service_providers, :id, @service_providers, :id, :sp_full_name, {:include_blank => 'Please select'},{:onchange=>"show_cluster_list(this.value, 'ServiceProvider')",:class=>'field size3',:style=>"width:120px; font-size:100%"})%></td></tr>
          </table>
        </div>
    </div>
    <br class="clear" />
    <div id="service_provider_cluster_list"></div>
    <div class="textBlue9em" style="font-size: medium">
      <%=link_to(t(:label_assign),"#",{:onclick=>"assign_sec_to_cluster(#{@cluster.id});return false;",:id=>"assign_sec_to_cluster"},{:title=>'Click to assign'})%>|
      <%= link_to t(:label_back), {:action => 'index'} %>
    </div>
  </div>  
</div>