<div class="box-head">
  <h2 class="left"><%=t(:text_deactivated_service_providers_list)%></h2>
</div>
<%unless @secretaries.blank?%>
  <div class="watermark"><%=will_paginate @secretaries%><%=raw page_entries_info @secretaries %></div>
<%end%>
<div class="table">
  <table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tbody>
      <tr>
        <th width="18%" align="left"><%=t(:text_service_provider_name)%></th>
        <th width="19%"><%=t(:text_deactivated_date)%></th>
        <th width="16%"><%=t(:text_action)%></th>
      </tr>
      
         <%unless @secretaries.blank? %>
                  <%@secretaries.each do |secretary|%>
                  <tr>
		   <%sec_del = secretary.deleted_sp_full_name%>
		   <%if sec_del%>
                  <td><span ><%= secretary.deleted_sp_full_name%></span></td>
                  <td><%= secretary.deleted_at.to_time.strftime('%m/%d/%Y') %></td>
                  <td>
                        <%=link_to("Activate", "/service_providers/activate_secretary/#{secretary.id}", :title=>'Activate',:confirm=>'Are you sure?')%>
                        <!--%=link_to t(:label_activate), secretary,  :title=>'Activate', :confirm => 'Are you sure?', :url=>'service_providers/activate_secretary' %-->
                      </td>
                      <%end%>
                  <%end%>
              <%else%>
                <%assets = controller.controller_name%>
                <%asset = assets.singularize%>
                      <td colspan="3">
                    <div class="warningCont m5">
                      <%=t(:text_no_records_found)%>
                    </div>
                  </td>
                </tr>
              <%end%>
      </tbody>
  </table>
</div>
<%unless @secretaries.blank?%>
  <div class="pagging">
    <div class="left"><%=raw page_entries_info @secretaries %></div>
    <div class="right"><%=will_paginate @secretaries%></div>
  <%end%>
</div>