<% selected_employee = get_employee_user_id %>
<% secretary = current_user.role?(:secretary) %>
<% disble_access = (@document_home.owner_user_id!=selected_employee && @matter.employee_user_id!=selected_employee) ? true : false %>
<div class="" align="center" id="loader" style="display:none;"><img src='/images/loading.gif' /></div>
﻿<div style="text-align:center;margin-top:10px;">
  <% form_for :document_home, @document_home ,:url => document_access_control_matter_document_home_path(@matter, @document_home.id, :interim =>@interim) do |f| %>
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="form_table">
      <%unless @interim%>
        <tr>
          <td width="7%" align="left"><%=radio_button_tag(:access_control,:private, @document_home.access_rights==1 ? true : false ,:onclick => "check_document_access_rights(false, false, false, '#{t(:text_note_only_you_will_have_access_to_this_document)}','private', '#{selected_employee}', '#{secretary}','edit','#{@document_home.owner_user_id}', '#{@document_home.access_rights}');",:class=>"radio", :disabled => disble_access) %></td>
          <td width="13%" align="left"><label><%=t(:text_private)%></label></td>
          <td width="7%" align="left"><%=radio_button_tag(:access_control,:public, @document_home.access_rights==2 ? true : false,:onclick => "check_document_access_rights(false, true, false, '#{t(:text_note_all_members_of_your_law_firm_will_have_access_to_this_document)}','other', '#{selected_employee}', '#{secretary}','edit','#{@document_home.owner_user_id}', '#{@document_home.access_rights}');",:class=>"radio", :disabled => disble_access) %></td>
          <td width="16%" align="left"><label><%=t(:text_public)%></label></td>
          <td width="7%" align="left"><%=radio_button_tag(:access_control,:matter_view,@document_home.access_rights==3 ? true : false,:onclick => "check_document_access_rights(false, false, false, '#{t(:text_note_all_matter_team_members_will_have_access_to_this_document)}','other', '#{selected_employee}', '#{secretary}','edit','#{@document_home.owner_user_id}', '#{@document_home.access_rights}');",:class=>"radio", :disabled => disble_access) %></td>
          <td width="24%" align="left"><label><%=t(:text_matter_view)%></label></td>
          <td width="7%" align="left"><%=radio_button_tag(:access_control,:selective, @document_home.access_rights==4 ? true : false,:onclick => "check_document_access_rights(true, false, false, '#{t(:text_note_document_will_be_accessible_to_selected_team_members)}','select', '#{selected_employee}', '#{secretary}','edit','#{@document_home.owner_user_id}', '#{@document_home.access_rights}');",:class=>"radio", :disabled => disble_access) %></td>
          <td width="19%" align="left"><label><%=t(:text_select_view)%></label></td>
        </tr>
        <tr>
          <td colspan="8" id="help_message_doc" align="left" class="pl5">
            <% if @document_home.access_rights == 1  %>
              <%= t(:text_note_only_you_will_have_access_to_this_document) %>
            <% elsif @document_home.access_rights == 2  %>
              <%= t(:text_note_all_members_of_your_law_firm_will_have_access_to_this_document) %>
            <% elsif @document_home.access_rights == 4  %>
              <%= t(:text_note_document_will_be_accessible_to_selected_team_members) %>
            <% elsif @document_home.access_rights == 3  %>
              <%=t(:text_note_all_matter_team_members_will_have_access_to_this_document)%>
            <%end%>
          </td>
        </tr>
      <%end%>
        <tr id="selective_doc" data-from_view="<%= params[:action] %>"style="<%if @document_home.access_rights !=4 %>display:none<%end%>">
        <td colspan="8">
          <table width="100%" border="0">
            <% unless @matter_peoples.nil? or @matter_peoples.empty? %>
              <% @matter_peoples.each do|mi| %>
                <% if mi.employee_user_id %>
                  <tr>
                    <% name =  mi.assignee.try(:full_name) %>
                    <td width="10%" align="left" name="<%= mi.employee_user_id %>"><%= check_box_tag 'document_home[matter_people_ids][]', mi.id, @document_people_array.include?(mi.id),{:class=> "check",:disabled=>  (mi.employee_user_id == @matter.employee_user_id || disble_access || (selected_employee==@matter.employee_user_id ? mi.employee_user_id==@document_home.owner_user_id : false)), :checked =>  (@emp_user_id==mi.employee_user_id || mi.employee_user_id == @matter.employee_user_id), :onClick=>"check_owner(this, '#{mi.employee_user_id}', '#{name}')" } %></td>
                    <td width="90%" align="left"><%= name %></td>
                  </tr>
                <% end %>
              <% end %>
            <% end %>
          </table>
        </td>
      </tr>
      <tr id="check_box_doc" data-from_view="<%=params[:action]%>" style="<%if @document_home.access_rights !=2 %>display:none<%end%>">
        <td> <%=check_box_tag 'document_home[repo_update]',true,@document_home.repo_update,{:class=> "check"}%></td>
        <td colspan="7" align="left">Show updates in public repository</td>
      </tr>
      <tr>
        <td>Owner</td>
        <% disble = (@document_home.owner_user_id!=selected_employee) ? {:disabled => true} : {} %>
        <td colspan="7" align="left">&nbsp;<%= f.select :owner_user_id, @matter_peoples.collect{|p| [p.assignee.try(:full_name), p.employee_user_id] }, {:selected => @document_home.owner_user_id}, disble %></td>
      </tr>
      <tr><td align="center" colspan="8">&nbsp;</td></tr>
      <tr><td align="center" colspan="8"><input type="submit" value="<%= t(:label_save) %>" name="save" onclick="return checkloader();"/> <input type="button" id="Login2" value="Cancel" onclick="tb_remove()" /></td></tr>
    </table>
  <%end%>
</div>
 <div align="right" class="pagiText"><%=t(:label_page)%>&nbsp;65</div>
 <script type="text/javascript"> 
 jQuery(document).ready(function(){
  check_if_selective();
 });
</script>