<% selected_employee = get_employee_user_id %>
<div>
  <div id="container-1">
    <%= render :partial => "matters/matter_tabs" %>
    <!--Edit Matter Starts-->
    <div class="tabs-container-tabs tabular_listing tabs-container tabs-hide" style="display: block;">
      <% form_for([@matter,@document_home], :html=> {:method=>"post",:multipart=> true}) do |f|  %>
        <%for document in @document_home.documents%>
          <%  fields_for 'document_home[document_attributes]', document do |d|%>
            <div class="form_table">
              <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                  <tr>
                    <td width="76%">
                      <%=render :partial => "matters/matter_contact_account" %>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="seperator_dotted_hori"></div>
              <div id="modal_document_home_errors" class="message_error_div" style="display : none"></div>
              <% if @document_home.errors.length > 0  %>
                <div class='message_error_div' id="error_message">
                  <%= error_messages_for(:document)%>
                  <%=  flash[:error]  %>
                </div>
              <% end  %>
              <table style="margin: 0pt auto;" width="100%"  cellspacing="0" cellpadding="0" border="0" class="form_table pt5">
                <tbody>
                  <tr>
                    <td width="203" align="left"><label>Document <span class="alert_message">*</span></label></td>
                    <td width="743" align="left">  <%= d.file_field :data, :onChange =>"updatename('document_home_document_attributes_data','document_home_document_attributes_name')"  %>
                      <%= hidden_field_tag('document_home[matter_task_ids][]', @linked[:task])  %>
                      <%= hidden_field_tag('document_home[matter_fact_ids][]', @linked[:fact])  %>
                      <%= hidden_field_tag('document_home[matter_risk_ids][]', @linked[:risk])  %>
                      <%= hidden_field_tag('document_home[matter_research_ids][]', @linked[:research])  %>
                      <%= hidden_field_tag('document_home[matter_issue_ids][]', @linked[:issue])  %>
                      <%= hidden_field_tag('document_home[folder_id]',params[:parent_id])  %>
                      <%= hidden_field_tag('return_path', @return_path) unless @return_path.nil?  %>
                      <%= f.hidden_field :mapable_type, :value =>@mapable_type  %>
                      <%= f.hidden_field :mapable_id, :value =>@mapable_id  %></td>
                  </tr>
                  <tr>
                    <td align="left"><label><%= t(:label_name) %> <span class="alert_message">*</span></label></td>
                    <td align="left"><%= d.text_field :name, :size => "40"  %></td>
                  </tr>
                  <tr>
                    <td align="left"><%= t(:label_bookmark) %></td>
                    <td align="left"><%= d.check_box :bookmark  %></td>
                  </tr>
                  <tr>
                    <td align="left"><label><%= t(:label_type)%></label></td>
                    <td align="left"><%= d.collection_select :doc_type_id ,current_company.document_types,:id,:alvalue,{ :include_blank => "-----Select-----" },:class=>"textBoxwidth" %></td>
                  </tr>
                  <tr>
                    <td align="left"><%= t(:label_privilege) %></td>
                    <td align="left"><%= d.collection_select("privilege", @company.matter_privileges, :id, :alvalue) %></td>
                  </tr>
                  <tr>
                    <td align="left" valign="top"><%= t(:label_enforce_version_change) %></td>
                    <td align="left" valign="top" class="pt5"><%= f.check_box :enforce_version_change, :disabled=> !(@emp_user_id == @matter.employee_user_id || (@team_member && @team_member.can_enforce_version_control?) )%> (Only lead lawyer and legal team member having privilege can enforce version change)</td>
                  </tr>
                  <% unless @matter.matter_category.eql?('non-litigation') %>
                    <tr>
                      <td align="left"><label><%= t(:label_phase) %></label></td>
                      <td align="left"><%= d.collection_select(:phase_id, @company.phases,:id,:alvalue) %></td>
                    </tr>
                  <% end %>
                  <tr>
                    <td align="left">&nbsp;</td>
                    <td align="left">
                      <table width="65%" border="0">
                        <tbody>
                          <tr>
                            <% secretary = current_user.role?(:secretary) %>
                            <td width="7%" align="left"><%= radio_button_tag(:access_control,:private,true,:onclick => "showaccessdetails(false,false);jQuery('#document_home_client_access').attr('disabled',false);jQuery('#help_message').text('#{t(:text_note_only_you_will_have_access_to_this_document)}'); check_owner_and_people_access('private', '#{selected_employee}', '#{secretary}','new', '0', '0');") %></td>
                            <td width="13%"><%= t(:text_private) %></td>
                            <td width="7%"><%=radio_button_tag(:access_control,:selective,false,:onclick => "showaccessdetails(true,false);jQuery('#document_home_client_access').attr('disabled',false);jQuery('#help_message').text('#{t(:text_note_document_will_be_accessible_to_selected_team_members)}'); check_owner_and_people_access('select', '#{selected_employee}', '#{secretary}','new', '0', '0');") %></td>
                            <td width="16%"><%= t(:text_select_view) %></td>
                            <td width="7%"><%=radio_button_tag(:access_control,:matter_view,false,:onclick => "showaccessdetails(false,false);jQuery('#document_home_client_access').attr('disabled',false);jQuery('#help_message').text('#{t(:text_note_all_matter_team_members_will_have_access_to_this_document)}'); check_owner_and_people_access('other', '#{selected_employee}', '#{secretary}','new', '0', '0');") %></td>
                            <td width="24%"><%=t(:text_matter_view)%></td>
                            <td width="7%"><%= radio_button_tag(:access_control,:public,false,:onclick => "showaccessdetails(false,true);jQuery('#document_home_client_access').attr('disabled',false);jQuery('#help_message').text('#{t(:text_note_all_members_of_your_law_firm_will_have_access_to_this_document)}'); check_owner_and_people_access('other', '#{selected_employee}', '#{secretary}','new', '0', '0');") %></td>
                            <td width="19%"><%= t(:text_public) %></td>
                          </tr>
                          <tr >
                            <td colspan="8" id="help_message">   <%= t(:text_note_only_you_will_have_access_to_this_document) %></td>
                          </tr>
                          <tr id="selective" style="display:none">
                            <td colspan="8">
                              <table width="100%" border="0">
                                <tbody>
                                  <% unless @matter_peoples.nil? or @matter_peoples.empty? %>
                                    <% @matter_peoples.each do |mi| %>
                                      <% name =  mi.assignee.try(:full_name) %>
                                      <tr>
                                        <% leadlawyer = mi.employee_user_id==@matter.employee_user_id %>
                                        <td width="10%" align="left" name="<%= mi.employee_user_id %>"> <%= check_box_tag 'document_home[matter_people_ids][]', mi.id,{},{:class=> "check", :disabled=> leadlawyer, :onClick=>"check_owner(this, '#{mi.employee_user_id}', '#{name}')"} %>
                                          <%= hidden_field_tag "document_home[matter_people_ids][]", mi.id if leadlawyer %>
                                        </td>
                                        <td width="90%"><%= name %></td>
                                      </tr>
                                    <%end%>
                                  <%end%>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          <tr id="check_box" style="display:none"><td  colspan="8">
                              <table width="100%" border="0">
                                <tbody>
                                  <tr>
                                    <td width="10%" align="left">  <%=check_box_tag 'document_home[repo_update]',true,false,{:class=> "check"}%></td>
                                    <td width="90%">Show updates in public repository</td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td>Owner</td>
                    <td><%= f.select :owner_user_id, @matter_peoples.collect{|p| [p.assignee.try(:full_name), p.employee_user_id] }, {:selected => selected_employee}%></td>
                  </tr>
                  <tr>
                    <td align="left"><%= t(:label_do_you_want_to_provide_access_to_client) %></td>
                    <td valign="top" align="left"><%=  f.check_box :client_access %></td>
                  </tr>
                  <tr align="right">
                    <td valign="top" align="left"><%="#{t(:label_tag)}" %></td>
                    <td align="left"><%=f.text_area :tag_array, :cols => "40", :rows => '3' %></td>
                  </tr>
                  <tr align="right">
                    <td valign="top" align="left"><%= t(:label_description) %></td>
                    <td align="left"><%=d.text_area :description, :cols => "40", :rows => '3' %></td>
                  </tr>
                  <tr align="right">
                    <td align="left"><%= t(:label_author_s) %></td>
                    <td align="left"><%=  d.text_field :author, :size => "40" %></td>
                  </tr>
                  <tr align="right">
                    <td align="left"><%= t(:label_source) %></td>
                    <td align="left"><%= d.collection_select :doc_source_id, @company.doc_sources,:id,:alvalue,{:include_blank => '-- select --'} %></td>
                  </tr>

                  <tr align="right">
                    <td>&nbsp;</td>
                    <td align="left">&nbsp;</td>
                  </tr>
                  <tr align="right">

                    <td colspan="2" align="center">
                      <%= f.submit t(:text_upload), :disable_with => "Please wait ..."%>
                      <% unless @return_path.nil? %>
                        <input type="submit" id="cancel" value="<%= t(:text_cancel) %>" onclick="window.location='<%=@return_path%>';return false;"/>
                      <% else %>
                        <input type="submit" id="cancel" value="<%= t(:text_cancel) %>" onclick="window.location='<%=matter_document_homes_path(@matter,:mapable_id => @matter.id,:mapable_type=>'Matter')%>';return false;"/>
                      <% end %>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          <%end%>
        <%end%>
      <%end%>

      <div class="mandatory"><span class="alert_message">*</span><%=t(:label_Required_fields)%></div>
      <div class="mandatory mt12">
        <pre>Note : Limit on file size is 50 MB.</pre>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  jQuery(document).ready(function(){
    /* Sanjay Verma - Please do not remove this */
    vertical_tabs_toggle();
    search_display_none();

    // Need to removed to JS File
    jQuery('#document_home_document_attributes_data').bind('change', function() {
      if ($.browser.msie ) {}else{
        //this.files[0].size gets the size of your file.
        var file_size = this.files[0].size;
        var max_size = 52428800;

        if (file_size <= 1 || file_size > max_size){
          jQuery('#errorExplanation').html('');
          jQuery('#error_message').hide();
          jQuery('#modal_document_home_errors').html('Upload File size should be between is 1KB-50MB.');
          jQuery('#modal_document_home_errors').show();
          jQuery('#document_home_document_attributes_data').val('');
          jQuery('#document_home_document_attributes_name').val('');
        }else{
          jQuery('#modal_document_home_errors').hide();
        }
      }
    });
  });
</script>

