<div class="mt5">
  <div class="gridDiv">
    <div id="dashboard_toggle" class="titleHead">
      <div class="fl"><%=current_user.company.name%></div>
      <br class="clear"/>
    </div>
    <div>
      <div class="gryBox">
        <div class="textBrwn11 fr "></div>
        <div class="p5 gridTable">
          <table width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
            <tbody>
              <tr>
                <th width="38%"><%=t(:text_name_of_the_user)%></th>
                <th width="19%" colspan="3"><%=t(:text_action)%></th>
              </tr>

              <%@users.each do |f|%>
                <tr class="<%=cycle("bg1", "bg2")%>"
                    <td><%=f.username%></td>
                  <td>


                    <%=link_to(t(:text_activate),:controller=>"lawfirm_admins",:action=>"activate", :id=>f.id)%>
                  </td>
                </tr>

              <%end%>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="gryBox">
    <div class="p5 gridTable"></div>
  </div>
</div>