<div id = "chart1"></div>
<script>
  // Need to removed to JS File
  function render_chart(type_of_chart){
    var dataurl = "/dashboards/render_dashboard_xml_file?chart_name="+"<%=dashboard.dashboard.template_name %>"+"&"+"<%=dashboard.http_parameter %>";

    // this IF LOOP is a quick fix for the problem where the data was coming scramblem for teh bar graphs "Column3D.swf" in "Time Accounted - Per Week"
    // in in case if the scrollable charts are implemented then please remove these if condition
    var activity = ""  
    activity = new FusionCharts("/FusionCharts/"+type_of_chart, "activity",750,500);
    activity.setDataURL(dataurl);
    activity.render("chart1");
    document.title = "<%= t(:text_livia_legal) %> - <%= t(:text_menu_rnd)%>"
  }
  render_chart("<%= dashboard.dashboard.type_of_chart %>");
</script>
<script defer="defer" >
  document.title = "<%= t(:text_livia_legal) %> - <%= t(:text_menu_rnd)%>"
</script>