<% task_assigned,task_completed = @task_assigned,@task_completed %>
<div class="gridDiv">
  <div class="fl w49_5">
    <div class="titleHead" id="task_assigned_DIV">
      <div class="fl"><%=t(:text_outstanding_tasks)%></div>
      <% if controller.controller_name.eql?('home') %>
        <div class="fr ptr5">
          <%=image_tag "/images/livia_portal/icon_max.gif",:alt =>"Maximize",:class =>"toggle_assigned icon_hide" %>
          <%=image_tag "/images/livia_portal/icon_min.gif",:alt =>"Minimize",:class =>"toggle_assigned icon_show" %>
        </div>
        <br class="clear"/>
      <%end%>
      <br class="clear"/>
    </div>
    <div class="gridTable gryBox" id="task_assigned">      
      <%unless task_assigned.blank? %>
        <table cellspacing="0" cellpadding="0" border="0" width="100%">
          <thead>
            <tr>
              <th width="30%"><%=t(:text_date_created)%></th>
              <th width="40%"><%=t(:text_task)%></th>
              <th width="30%"><%=t(:text_assigned_to)%></th>
            </tr>
          </thead>
        </table>
        <div class="scrollY100">
          <table cellspacing="0" cellpadding="0" border="0" width="100%">
            <tbody>
              <% task_assigned.each do |task_assigned| %>
                <tr class="<%=cycle("bg1", "bg2")%>">
                  <td width="30%">
                    <%=task_assigned.created_at.nil? ? '':task_assigned.created_at.to_time.strftime('%m/%d/%y %I:%M:%S')%>
                  </td>
                  <td width="40%" class="liviadashboardview">
                    <%=h truncate(task_assigned.name, :omission => "...", :length => 50)%>
                    <span class="livia_dashboardroller" style="display:none;"><%=task_assigned.name%></span>
                  </td>
                  <td width="30%">
                    <%=  task_assigned.first_name.blank? || task_assigned.last_name.blank? ? task_assigned.username : (task_assigned.first_name + ' ' +task_assigned.last_name) %>
                  </td>
                </tr>
              <%end%>
              <%(8-task_assigned.length ).times do%>
                <tr class="bg1">
                  <td width="30%"></td>
                  <td width="40%"></td>
                  <td width="30%"></td>
                </tr>
              <%end%>
            </tbody>
          </table>
        </div>
      <%else%>
        <div class="warningCont m5"><%=t(:text_no_data)%></div>
      <%end%>
    </div>
  </div>

  <div class="fr w50">
    <div class="titleHead" id="task_completed_DIV">
      <div class="fl"><%=t(:text_completed_tasks)%></div>
      <% if controller.controller_name.eql?('home') %>
        <div class="fr ptr5">
          <%=image_tag "/images/livia_portal/icon_max.gif",:alt =>"Maximize",:class =>"toggle_assigned icon_hide" %>
          <%=image_tag "/images/livia_portal/icon_min.gif",:alt =>"Minimize",:class =>"toggle_assigned icon_show" %>
        </div>
        <br class="clear"/>
      <%end%>
      <br class="clear" />
    </div>
    <div class="gridTable gryBox" id="task_completed">

      <%unless task_completed.blank? %>
        <table cellspacing="0" cellpadding="0" border="0" width="100%">
          <thead>
            <tr>
              <th width="30%"><%=t(:text_date_created)%></th>
              <th width="40%"><%=t(:text_task)%></th>
              <th width="30%"><%=t(:text_date_completed)%></th>
            </tr>
          </thead>
        </table>

        <div class="scrollY100">
          <table cellspacing="0" cellpadding="0" border="0" width="100%">

            <tbody>
              <% task_completed.each do |task_completed| %>
                <tr class="<%=cycle("bg1", "bg2")%>">
                  <td width="30%">
                    <%=task_completed.created_at.nil? ? '':task_completed.created_at.to_time.strftime('%m/%d/%y %I:%M:%S')%>
                  </td>
                  <td width="40%"  class="liviadashboardview">
                    <%=h truncate(task_completed.name, :omission => "...", :length => 50)%>
                    <span class="livia_dashboardroller" style="display:none;"><%=task_completed.name%></span>
                  </td>
                  <td width="30%">
                    <%= task_completed.completed_at.nil? ? '': task_completed.completed_at.to_time.strftime('%m/%d/%y %I:%M:%S')%>
                  </td>
                </tr>
              <%end%>
              <% (8-task_completed.length ).times do %>
                <tr class="bg1">
                  <td width="30%"></td>
                  <td width="40%"></td>
                  <td width="30%"></td>
                </tr>
              <%end%>
            </tbody>
          </table>
        </div>
      <%else%>
        <div class="warningCont m5"><%=t(:text_no_data)%></div>
      <%end%>
    </div>
  </div>
  <br class="clear" />
</div>
