<% remote_form_for([@matter,@matter_people_client_contact], :url => {:action => :edit_client_contact}, :loading=>"disableAllSubmitButtons('matters');",:complete=>'return enableAllSubmitButtons("matters")') do |f| %>
  <div id="matter_client_contact_errors" class="" style="display: none;"></div>
  <div id="same_contact_errors" class="" style="display: none; text-align: left"></div>
  <%= raw same_contacts_show %>
  <%=f.hidden_field :updated_by_user_id, :value => current_user.id%>
  <%=hidden_field_tag :create_method%>
  <%=hidden_field_tag 'share_with_client', @matter.client_access%>
  ﻿<div style="text-align:center;">
    <table border="0" cellpadding="0" cellspacing="0" class="form_table" width="100%">
      <tr>
        <td width="136" align="left"></td>
        <td width="204" align="left"></td>
      </tr>
      <tr>
        <td align="left"><%=t (:label_Provide_Matter_Access)%></td>
        <td align="left"><%=f.check_box :can_access_matter%></td>
      </tr>
      <tr>
        <td align="left"><%=t(:label_Primary_Matter_Contact)%><%role=@matter_people_client_contact.get_role%></td>
        <td align="left"><%=check_box_tag :primary_matter_contact, role=='Matter Client' ? true : false, role=='Matter Client' ? true : false, :disabled =>role=='Matter Client' ? true : false  %></td>
      </tr>
    </table>
    <div>
      <h3 class="title_gray" align="left"><%=t(:label_Personal_Information)%></h3>
      <table border="0" cellpadding="0" cellspacing="0" class="form_table" width="100%">
        <tbody>
          <tr>
            <td width="23%" align="left"><label><%= t(:label_salutation) %></label></td>
            <td width="25%" align="left"><%= f.collection_select('salutation_id', current_company.salutation_types , :id, :alvalue,{:include_blank=>true},:class=>'toggle_handler' ) %></td>
            <td width="1%">&nbsp;</td>
            <td width="23%" align="left">&nbsp;</td>
            <td width="28%" align="left">&nbsp;</td>
          </tr>
          <tr>
            <td align="left"><label><%= t(:label_first_name) %>  <span class="alert_message">*</span></label></td>
            <td align="left"><%=f.text_field :name,:maxlength=>"64",:size=>"30"%></td>
            <td>&nbsp;</td>
            <td align="left"><label><%= t(:label_middle_name) %>&nbsp;</label></td>
            <td align="left"><%=f.text_field :middle_name,:maxlength=>"64",:size=>"30" ,:class => "" %></td>
          </tr>
          <tr>
            <td align="left"><label><%= t(:label_last_name) %>&nbsp;</label></td>
            <td align="left"><%=f.text_field :last_name,:maxlength=>"64",:size=>"30" ,:class => "" %></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td align="left"><label>Primary&nbsp;<%= t(:label_phone) %> <span class="alert_message" id="phone_mandatory">#</span></label></td>
            <td align="left"><%=f.text_field :phone,:maxlength=>"15" %></td>
            <td>&nbsp;</td>
            <td align="left"><label>Primary&nbsp;<%= t(:label_email) %> <span class="alert_message" id="email_mandatory">#</span></label></td>
            <td align="left"><%=f.text_field :email,:maxlength=>"64",:size=>"30" %></td>
          </tr>
          <tr>
            <td align="left" valign="top"><label><%=t(:label_matter_role)%></label></td>
            <td align="left" valign="top"><% readonly = @matter_people_client_contact.get_role=='Matter Client' ? {:readonly => true} : {} %> <%=f.text_field :role_text, readonly %></td>
            <td valign="top">&nbsp;</td>
            <td align="left" valign="top"><label><%=t(:label_notes)%></label></td>
            <td align="left" valign="top"><%=f.text_field :notes%></td>
          </tr>
        </tbody>
      </table>
      <h3 class="title_gray" align="left"><%=t(:text_address)%></h3>
      <table border="0" cellpadding="0" cellspacing="0" class="form_table" width="100%">
        <tr>
          <td width="23%" align="left"><label><%=t(:label_street)%></label></td>
          <td width="25%" align="left"><%=f.text_field :address%></td>
          <td width="1%" align="left">&nbsp;</td>
          <td width="23%" align="left"><%=t(:label_city)%></td>
          <td width="28%" align="left"><%=f.text_field :city%></td>
        </tr>
        <tr>
          <td width="23%" align="left"><%=t(:label_state)%></td>
          <td width="25%" align="left"><%=f.text_field :state%></td>
          <td width="1%" align="left">&nbsp;</td>
          <td width="23%" align="left"><%=t(:label_zip_code)%></td>
          <td width="28%" align="left"><%=f.text_field :zip,:maxlength => 10%></td>
        </tr>
        <tr>
          <td width="23%" align="left"><%=t(:label_country)%></td>
          <td width="25%" align="left"><%=f.text_field :country%></td>
          <td width="1%" align="left">&nbsp;</td>
          <td width="23%" align="left"><%=t(:label_alternate_email)%></td>
          <td width="28%" align="left"><%=f.text_field :alternate_email,:maxlength=>"64",:size=>"30"%></td>
        </tr>
        <tr>
          <td align="left"><%=t(:label_mobile)%></td>
          <td align="left"><%=f.text_field :mobile, :maxlength=>15%></td>
          <td align="left">&nbsp;</td>
          <td align="left"><%=t(:label_fax)%></td>
          <td align="left"><%=f.text_field :fax, :maxlength=>15%></td>
        </tr>
        <tr>
          <td align="left"><label><%= t(:label_stage) %></label></td>
          <td align="left"><%= collection_select :matter_people, :contact_stage_id, current_company.contact_stages,:id,:alvalue, {:selected=>@matter_people_client_contact.contact.contact_stage_id},{:class=>"textBoxwidth disundis"} %></td>
          <td>&nbsp;</td>
          <td align="left"></td>
          <td align="left">&nbsp;</td>
        </tr>
        <tr><td colspan="5" align="left" height="10">&nbsp;</td></tr>
        <tr>
          <td colspan="5" align="center">
            <%=f.submit "Save",:class=>'matters', :id => "edit_client_contact_button",:onclick=>"setButtonPressed(this); return check_access_for_submit(this); return verify_email('#{@matter_people_client_contact.email}', 'matter_people_email', '#{@matter_people_client_contact.can_access_matter}'); "%>
            <input type="button" class="matters" id="Login4" value="Cancel" onclick="tb_remove();disableAllSubmitButtons('matters');" />
          </td>
        </tr>
        <tr><td colspan="5" align="left">&nbsp;</td></tr>
        <tr><td colspan="5" align="left"><div class="mandatory"><span class="alert_message">*</span><%=t(:label_Required_field)%><span id="either">, <span class="alert_message">#</span><%= t(:label_Either_Primary_Phone_or_Primary_Email_required) %></span></div></td></tr>
      </table>
    </div>
  </div>
<%end%>
<div class="pagiText"><%=t(:label_page)%>&nbsp;176</div>
<script type="text/javascript">
  can_access_matter_checked();
</script>