<%= hidden_field_tag('date_time', params[:time_entry_date]) %>
<% @saved_expense_entries.each do |expense_entry|  %>
  <% is_open = is_open?(expense_entry) %>
  <% is_lead_lawyer = check_for_lead_lawyer(expense_entry, @employee_user_id) %>
  <tr class="<%=cycle('bg2','bg1')-%>">
    <td><%= raw mouseover_text_for_t_and_e('<div class="icon_exp fl mt4"></div>',expense_entry.try(:created_by).try(:first_name), expense_entry.created_at.to_time.strftime('%m/%d/%y') ) %></td>
    <td align="center">
      <%= check_box(expense_entry.id, 'is_internal',
        options = {:id=> "#{expense_entry.id}_is_internal_for_expense_entry", :disabled => !is_open,
          :checked => expense_entry.is_internal ,
          :onclick=>( expense_entry.is_internal ? "show_alert_for_matter_and_contact('#{expense_entry.id}_is_internal_for_expense_entry')"  : "set_is_billable_for_expense_entry('#{expense_entry.id}');" )}) %>
    </td>
    <td class="IE7_widith">
      <div class="w100">
        <div><label class="mr5"><%=t(:label_m)%></label>
          <span id="expense_matters_div_<%=expense_entry.id%>" class="<%= 'editLiviaTextBox' if is_open%>">
            <% matter_name, matter_id = matter_name_and_id(expense_entry)%>
            <span class="search_div" id="<%=expense_entry.id%>_matters_div"></span>
            <span class="search_div" id="<%=expense_entry.id%>_matterSearch" style="width:100px;">
              <%= raw time_entry_matter_search_box("#{expense_entry.id}[matter_id]","#{expense_entry.id}_matter_id","#{expense_entry.id}_matter_ctl","#{expense_entry.id}",matter_name,matter_id, is_open ? "" : "disabled") %>
            </span>
            <% if is_open %>
              <%= image_tag("/images/download.png",:alt=>"Lists",:border=>"0",:onclick=>"showDivListBox('#{expense_entry.id}_back_ground_overlay');")  %>
              <div  id="<%=expense_entry.id%>_back_ground_overlay" class="back_ground_overlay">
                <ul>
                  <%@matters.each do |matter|%>
                    <li>
                      <span id="matter_<%=matter.id%>" style="cursor:pointer;" onclick="updateContactORMatter(this,<%="#{expense_entry.id}"%>,'matter',null,'get_expense_matters_contact');"><%=matter.name%></span>
                    </li>
                  <%end%>
                </ul>
              </div>
            <% end %>
          </span>
        </div>
        <div class="mt4"><label class="mr5"><%=t(:label_c)%></label>
          <span id="expense_contact_span_<%=expense_entry.id%>" class="<%= 'editLiviaTextBox' if is_open%>">
            <% contact_name,contact_id = contact_name_and_id(expense_entry) %>
            <span id="<%=expense_entry.id%>_contact_span" class="search_div"></span>
            <span id="<%=expense_entry.id%>_contactSearch" class="search_div" style="width:100px;">
              <%= raw time_entry_contact_search_box("#{expense_entry.id}[contact_id]","#{expense_entry.id}_contact_id","#{expense_entry.id}_contact_ctl","#{expense_entry.id}",contact_name,contact_id, is_open ? "" : "disabled") %>
            </span>
            <% if is_open %>
              <%= image_tag("/images/download.png",:border=>"0",:alt=>"Lists",:onclick=>"showDivListBox('#{expense_entry.id}_contact_overlay');")  %>
              <div id="<%=expense_entry.id%>_contact_overlay" class="back_ground_overlay">
                <ul>
                  <%@contacts.each do |contact|%>
                    <li>
                      <span id="contact_<%=contact.id%>" style="cursor:pointer;" onclick="updateContactORMatter(this,<%="#{expense_entry.id}"%>,'contact',null,'get_all_expense_matters');"><%=contact.full_name%></span>
                    </li>
                  <%end%>
                </ul>
              </div>
            <% end %>
          </span>
        </div>
      </div>
    </td>
    <td><div class="w100">&nbsp;</div></td>
    <td align="center">&nbsp;</td>
    <td align="center">&nbsp;</td>
    <td><span class="<%= 'editexpense_type' if is_open%>" id="<%=expense_entry.id%>"><%=expense_entry.expense.alvalue%></span></td>
    <td>
      <div style="word-wrap:break-word; width:200px">
        <%= hidden_field_tag "hidden_description",expense_entry.description,:id=>"editexpensedescription_hidden_#{expense_entry.id}" if is_open%>
        <span class="<%= 'editexpensedescription' if is_open%>"  id="<%=expense_entry.id%>">
          <%=raw(truncate_withscroll(expense_entry.description, 90))%>
        </span>
      </div>
    </td>
    <td width="4%" align="center">
      <%= check_box( expense_entry.id, 'is_billable', options = {:id=> "#{expense_entry.id}_expense_is_billable", :disabled => is_open ? expense_entry.is_internal : true,
          :checked => expense_entry.is_billable, :onclick=>"set_is_billable_for_expense_entry('#{expense_entry.id}');"}) %>
    </td>
    <td width="13%">
      <%=render :partial=>"expense_amount", :locals => {:expense_entry => expense_entry, :is_open => is_open}  %>
    </td>
    <td align="right"><strong> <span id="expense_final_billed_amount_<%=expense_entry.id%>"><%= number_with_lformat(expense_entry.final_expense_amount) %></span></strong></td>
    <td width="7%" class="txtL">
      <% conditions = is_open ? is_lead_lawyer || is_access_t_and_e? : is_lead_lawyer %>
      <% if conditions %>
        <% unless expense_entry.status.eql?("Billed") %>
          <%=  select_tag "expense_entry_#{expense_entry.id}[status]",options_for_select({"Open" => "Open", "Approved" => "Approved"}, expense_entry.status),{ :onchange=>"change_expense_entry_status(#{expense_entry.id}, '#{request.url}');" , :class=>"dropbox1" , :style=>"width:85px"}%>
        <% else %>
          <%=t(:text_billed)%>
        <% end  %>
      <% else  %>
        <%= expense_entry.status %>
      <% end %>
    </td>    
    <% condition =  is_open ? true : is_lead_lawyer %>
    <td align="center" width="1%">
      <% if condition %>
        <div class="icon_action  mt3"><a href="#"></a></div>
        <div id="liquid-roundAP" class="tooltip" style="display:none;">
          <!--Icon table strt here -->
          <table width="100%" border="1" cellspacing="0" cellpadding="0">
            <% link = "NO" %>
            <% if document_available? %>
              <% if is_open %>
                <% link = upload_document_document_homes_path(:mappable_id => expense_entry.id, :from=>'expense_open_entry',:status => 'Open',:current_tab=>'fragment-1',:start_date=>params[:start_date],:end_date=>params[:end_date],:matter_id=>params[:matter_id],:view=>'matter') %>
              <% else %>
                <% link = upload_document_document_homes_path(:mappable_id => expense_entry.id, :from=>'expense_close_entry',:status => 'Approved',:current_tab=>'fragment-2',:start_date=>params[:start_date],:end_date=>params[:end_date],:matter_id=>params[:matter_id],:view=>'matter') %>
              <% end %>
            <% end %>
            <% path = is_lead_lawyer && is_open ? physical_timeandexpenses_time_and_expense_path(expense_entry.id, :entry_type => "expense_entry") : "NO" %>
            <%=raw action_pad_top_blue_links({:edit_path=>"NO",
                :deactivate_path=> path,
                :deactivate_text => is_open ? "Expense Entry" : "NO",
                :comment_path=> "NO",
                :comment_title => "NO",
                :document_path=> link,
                :history_path=>"#{history_comments_path(:id=>expense_entry.id,:commentable_type=>'Physical::Timeandexpenses::ExpenseEntry',:height=>150,:width=>600)}",
                :history_title => "Expense Entry History"}) %>
            <tr>
              <td class="ap_middle_left"><div class="ap_pixel15"></div></td>
              <td style="background: #fff;">
                <div class="w100">
                  <%if expense_entry.status.eql?("Billed") %>
                    <div class="fl"  style="width:165px;">
                      <table width="100%" border="0" cellpadding="2" cellspacing="2">
                        <tr>
                          <td width="20"><div class="ap_child_action"></div></td>
                          <td nowrap class="ml5" align="left"><%= link_to 'Invoice',edit_tne_invoice_path(expense_entry.tne_invoice.id) if expense_entry.tne_invoice %></td>
                        </tr>
                      </table>
                    </div>
                  <%end%>
                  <br class="clear"/>
                </div>
              </td>
              <td class="ap_middle_right"><div class="ap_pixel13"></div></td>
            </tr>
            <tr>
              <td valign="top" class="ap_bottom_curve_left"></td>
              <td class="ap_bottom_middle"><div class="ap_pixel13"></div></td>
              <td valign="top" class="ap_bottom_curve_right"></td>
            </tr>
          </table>
        </div>
      <% end %>
    </td>
  </tr>
  <script type="text/javascript">
    setMatterORContactSearchInputFields('<%=expense_entry.id.to_s + "_contact_ctl"%>','<%=expense_entry.id.to_s.to_s + "_matter_ctl"%>',"<%=get_employee_user_id%>","<%=get_company_id%>",'<%=expense_entry.id.to_s + "_contact_id"%>','<%=expense_entry.id.to_s + "_matter_id"%>','<%=expense_entry.id.to_s%>','expense');
  </script>
<% end %>