<% form_for(@company_role_rate,:html=>{:onsubmit=>"jQuery('#company_role_rate_submit').attr('disabled','disabled')"}) do |f| %>
  <% content_for :company_selection do %>
    <%if current_user.role?:livia_admin%>
      <div id="topheadContainer">
        <div class="title fl"><%= @company.name unless session[:company_id].blank? %></div>
        <div id="searchContainer" class="fr"> <%=t(:label_select_company)%>
          <%= f.select 'company_id', @companies, {:include_blank=>'Please select', :selected=>session[:company_id].blank??nil:session[:company_id].to_i},{:onchange=>"show_data_for_record(this.value, 'cmp_name', 'POST', '/rate_cards/update_company_header')", :class => "field size3"}%>
        </div>
      </div>
    <%end%>
  <% end %>
  <div class="box-head"><h2><%=t(:text_new_company_role_rate)%></h2></div>
  <%if(@company_role_rate.errors.length > 0)%>
    <div class='errorCont'>
      <%=f.error_messages %>
      <div class="clear"></div>
    </div>
  <%end%>
  <div class="form">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="25%" align="left" valign="top"><label><%=t(:label_role)%> <span>*</span></label></td>
        <td width="75%"><%= f.select 'role_id', @roles, {:include_blank=>'Please select'},{:class=>'field size3'}%></td>
      </tr>
      <tr><td colspan="2">&nbsp;</td></tr>
      <tr>
        <td align="left" valign="top"><label><%=t(:label_billing_rate)%> <span>*</span></label></td>
        <td><%= f.text_field :billing_rate , :onblur => "check_rate(this);",:class=>"field size3"%></td>
      </tr>
      <tr><td colspan="2">&nbsp;</td></tr>
    </table>
  </div>
  <div class="buttons">
    <%= f.submit t(:text_create), :class=>"button"%>
    <%= link_to t(:label_cancel), rate_cards_url , :class=>"button"%>
  </div>
<% end %>