<div class="mt20">
  <%  remote_form_for(:campaign,@campaign, :url => url_for(:controller => :campaigns, :action => :save_status),:loading=>"disableAllSubmitButtons('campaigns')",:complete=>'return enableAllSubmitButtons("campaigns")') do |campaign| %>
    <div id="nameerror" style="display: none;"></div>
    <div class="" align="center" id="loader" style="display:none;"><img src='/images/loading.gif' /></div>
    <table width="100%" cellpadding="0" cellspacing="0" class="form_table">
      <tr>
        <td><label><%= t(:label_current_status) %> <span class="alert_message"></span></label></td>
        <td><strong><%= @campaign.status.lvalue.try(:titleize) if @campaign.status.lvalue %></strong></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><label> <%= t(:label_change_to) %></label></td>
        <td><%= campaign.collection_select :campaign_status_type_id, @status_types, :id, :alvalue %></td>
        <td></td>
        <td><%=  campaign.hidden_field 'id' ,:value =>  @campaign.id%></td>
      </tr>
      <tr>
        <td><label><%= t(:label_reason) %> <span class="alert_message">*</span></label></td>
        <td><%= text_field :campaign, :reason %></td>
        <td></td>
        <td></td>
      </tr>
	  <tr>
            <td colspan="2" height="10"></td>
	  </tr>
      <tr>
        <td> </td>
        <td colspan="3"><%= campaign.submit t(:text_save),:class=>'campaigns', :onclick=>"jQuery('#loader').show();"  %>
          <input type="button" value="<%= t(:text_cancel) %>" class="campaigns" onclick="parent.tb_remove();disableAllSubmitButtons('campaigns');" id="cancel" />
        </td>
      </tr>
    </table>
  <% end %>
  <div class="mandatory"><span class="alert_message">*</span><%=t(:label_Required_field)%></div>
</div>
<div align="right" class="pagiText"><%=t(:label_page)%>&nbsp;78</div>
