<% products_blank = @products.blank? %>
<div class="box-head"><h2><%= t(:text_products_listing) %></h2></div>
<div class="actionLinks"><%= link_to t(:label_new_product), new_product_path %></div>
<div class="watermark right"><%=raw custom_page_entries_info @products %></div>
<div class="table">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <th width="42%" align="left"><%=t(:text_product_name)%></th>
      <th width="39%" align="left"><%=t(:text_price)%></th>
      <th width="19%" align="left"><%=t(:text_action)%></th>
    </tr>
    <%if products_blank
      asset = controller.controller_name.singularize %>
      <tr><td width="42%" align="left"><%= t(:text_no_records_found_for) %><%= asset.try(:capitalize) %> .</td></tr>
    <% else
      @products.each do |product|
        product_id = product.id %>
        <tr>
          <td width="42%" align="left" valign="top">
            <span id="<%= product_id %>_plus"><a href="javascript:expand_collapse_div_details(<%= product_id %>, '<%= product_id %>_subproduct', 'minus', 'plus')" ><%= image_tag('admin/plus.png',:alt=>"Plus",:title=>"Click to view details", :border => 0, :hspace => "0")%></a></span>
            <span style="display: none;" id="<%= product_id %>_minus"> <a href="javascript:expand_collapse_div_details(<%= product_id %>, '<%= product_id %>_subproduct', 'plus', 'minus')" ><%= image_tag('admin/minus.png',:alt=>"Plus",:title=>"Click to hide details", :border => 0, :hspace => "0")%></a></span>
            <% if product.name %>
              &nbsp;&nbsp;&nbsp;<span onclick='jQuery("#<%= product_id %>_subproduct").toggle()' title="Click to view details"><%= product.name %></span>
            <% end %>
            <div style="display: none;" id="<%= product_id %>_subproduct">
              <table>
                <tr>
                  <td width="13%"></td>
                  <td align="left">
                    <div><%= t(:text_description) %></div><div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= product.description %></div>
                    <div><%= t(:text_modules) %></div>
                    <div>
                      <%for subProd in product.subproducts %>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=t(:text_)%>&nbsp;&nbsp;<%=  subProd.name%><br /> <br />
                      <% end %>
                    </div>
                    <div><%= t(:text_parent_products) %></div>
                    <div>
                      <%for parentProd in product.product_dependents.find_all  %>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=t(:text_)%>&nbsp;&nbsp;<%= parentProd.product_parent_name(parentProd.parent_id)%><br></br>
                      <% end %>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </td>
          <td width="39%" align="left" valign="top"><%= product.cost %></td>
          <td width="19%" align="left" valign="top"> <%= link_to "Edit", edit_product_path(:id => product_id) %></td>
        </tr>
      <% end
    end %>
  </table>
</div>
<div class="pagging">
  <% unless products_blank %>
    <div class="left"><%=raw custom_page_entries_info @products %></div>
    <div class="right"><%=will_paginate @products, :previous_label => '<span class="previousBtn"></span>', :next_label => '<span class="nextBtn"></span>'%></div>
  <% end %>
</div>