<div style="margin-top:20px; padding:0;">
  <% unless matter_facts.empty? %>
    <div class="tabular_listing border_gray">
      <table width="100%" cellpadding="1" cellspacing="1" style="border-collapse: separate;">
        <tr>
          <th width="85%" align="left"><%= t(:text_facts) %></th>
          <th width="15%" align="left"><%= t(:text_material) %></th>
        </tr>
        <% matter_facts.each do |e| %>
          <tr class="bg1">
            <td align="left"><%=raw(truncate_hover_link(e.name, 70, edit_matter_matter_fact_path(@matter,e)))%></td>
            <td align="left"><%=e.material == 0 ? "#{t(:text_yes)}" : (e.material == 2 ? "#{t(:text_not_sure)}" : "#{t(:text_no)}")%></td>
          </tr>
        <% end %>
      </table>
    </div>
  <% else %>
    <div class="warningCont m5">  <%= t(:text_no_facts_linked_yet) %> </div>
  <% end %>
</div>
<div align="right" class="pagiText"><%=t(:label_page)%>&nbsp;146</div>
