  <tr>
    <td class="textBlack11Height10"><%=u.label :first_name, t(:label_first_name)%><span class="text_red">*</span></td>
    <td><%=u.text_field :first_name%></td>
  </tr>
  <tr>
    <td class="textBlack11Height10"><%=u.label :last_name, t(:label_last_name)%><span class="text_red">*</span></td>
    <td><%=u.text_field :last_name%></td>
  </tr>
  <tr>
    <td class="textBlack11Height10"><%=u.label :email, t(:label_email)%><span class="text_red">*</span></td>
    <td><%=u.text_field :email%></td>
  </tr>
  <tr>
    <td class="textBlack11Height10"><%=u.label(:phone, t(:label_phone))%><span class="text_red">&nbsp;&nbsp;</span></td>
    <td><%=u.text_field :phone,:maxlength=>"15"%></td>
  </tr>
  <tr>
    <td class="textBlack11Height10"><%=u.label(:mobile, t(:label_mobile))%><span class="text_red">&nbsp;&nbsp;</span></td>
    <td><%=u.text_field :mobile%></td>
  </tr>