<div class="mid-box-head"><h2 class="left"><%=t(:text_assigned_livian_s)%></h2></div>
<%if @secretary.empty?%>
  <div class="warningCont m5"><%=t(:text_no_livians_assigned_to_you)%></div>
<% else %>
  <div class="table">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th width="47%" align="left" valign="top"><%=t(:text_name)%></th>
        <th width="26%" align="center" valign="top"><%=t(:text_email)%></th>
        <th width="27%" align="center" valign="top"><%=t(:text_login)%></th>
      </tr>
      <%@secretary.each do |sec|%>
        <tr>
          <td align="left"><%=sec.full_name%></td>
          <td align="center"><%=sec.email%></td>
          <td align="center"><%=sec.username%></td>
        </tr>
      <%end%>
    </table>
  </div>
<%end%>