<% content_for :company_selection do %>
  <%if current_user.role?:livia_admin%>
    <div id="topheadContainer">
      <div class="title fl"><%= @company.name if @company.present? %></div>
      <div id="searchContainer" class="fr"> <%=t(:label_select_company)%>
        <%=collection_select :employee,:company_id,@companies,:id,:name_type,{:include_blank => '--Select--',:selected=>session[:company_id].blank??nil:session[:company_id].to_i}, {:onchange=>"fetch_data_based_for_company(this.value, 'userdiv', 'manage_secretary/manageprivilege')" ,:class=>"field size3"}%>
      </div>
    </div>
  <%end%>
  <%if current_user.role?:lawfirm_admin%>
    <div id="topheadContainer"><div class="title fl"><%= current_user.company_full_name  %></div></div>
  <% end %>
<% end %>
<%if current_user.role?(:lawfirm_admin) || current_user.role?(:livia_admin)%>
  <div class="box-head"><h2 class="left"><%=t(:text_manage_livian_privileges)%></h2></div>
  <div class="buttons"> <%=t(:label_select_user)%>
    <span id="userdiv"><%=render :partial => 'listofusers' %></span>
  </div>
  <span id="spdiv"></span>
  <div id="accessdetail"></div>
<%else%>
  <span id="spdiv"><%=render :partial => 'usersecretary' %></span>
  <div id="accessdetail"><%=render :partial => 'subproductlist' %></div>
<%end%>
